Repository skyportal/skyportal, changes with the labels that .github/labeler.yml gives for each.
All labels: config-change, demo-data, dependencies, docker, documentation, formatting-and-linting, migration, workflows

Update requirements.txt
  requirements.txt
Labels: dependencies

Update skyportal/facility_apis/swift.py
  skyportal/facility_apis/swift.py
Labels: none

Add instrument page (#2548)
  config.yaml.defaults
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/telescope.py
  skyportal/tests/frontend/test_instruments_page.py
  static/js/components/InstrumentPage.jsx
  static/js/components/NewInstrument.jsx
  static/js/ducks/instrument.js
  static/js/ducks/instruments.js
  static/js/ducks/telescopes.js
Labels: config-change

try updating the name
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/swift.py
  skyportal/tests/flaky/test_followup_requests_flaky.py
Labels: demo-data

fix API name
  data/db_demo.yaml
Labels: demo-data

note flaky!
  skyportal/tests/frontend/test_instruments_page.py
  skyportal/tests/frontend/test_telescopes_page.py
Labels: none

add custom bandpasses
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/enum_types.py
  skyportal/models/telescope.py
  skyportal/plot.py
Labels: config-change, demo-data

fir demo data
  data/db_demo.yaml
Labels: demo-data

Josh's comments
  config.yaml.defaults
  doc/slack.md
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/slack.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/internal/robotic_instruments.py
Labels: config-change, documentation

.github/labeler.yml:

# Labels to be automatically added to PRs

# Add 'config-change' label to any change to default config files
config-change:
  - "config.yaml.defaults"
  - "test_config.yaml"

# Add 'demo-data' label to any change to provided demo data
demo-data:
  - data/**/*

# Add 'dependencies' label to any change to dependencies
dependencies:
  - "requirements.txt"
  - "requirements.docs.txt"
  - "package.json"

# Add 'docker' label to any change to files related to Docker deployment
docker:
  - "Dockerfile"
  - "docker.yaml"
  - "docker-compose.yaml"
  - ".dockerignore"

# Add 'documentation' label to any change to the doc directory
documentation:
  - doc/**/*

# Add 'formatting-and-linting' label to any changes to the formatting and
# linting checks, and the pre-commit hooks that run them
formatting-and-linting:
  - ".eslintignore"
  - ".eslintrc.yaml"
  - ".flake8"
  - ".git-pre-commit"
  - ".pep8speaks.yml"
  - ".pre-commit-config.yaml"

# Add 'migration' label to any change within the 'alembic' directory
migration:
  - alembic/versions/*

# Add 'needs-migration?' label to any change to models.py without changes to
# the Alembic versions
needs-migration?:
  - any: ["skyportal/models.py", "skyportal/models/*"]
    all: ["!alembic/versions/*"]
  - any: ["baselayer/app/models.py", "baselayer/app/models/*"]
    all: ["!alembic/versions/*"]

# Add 'workflows' label to any changes to GA workflows (.github folder)
workflows:
  - .github/**/*
