Repository skyportal/skyportal, pull requests merged in 2020-12, with the labels that each got.

#1439 fix share with... bug in upload spectrum
  skyportal/tests/frontend/test_upload_spectroscopy.py
  static/js/components/UploadSpectrum.jsx
Labels: bugfix

#1436 add photometry table
  skyportal/tests/frontend/test_sources.py
  static/js/components/PhotometryTable.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: enhancement

#1419 Standard stars in summary starlist
  config.yaml.defaults
  data/eso_standards.csv
  data/ztf_standards.csv
  skyportal/app_server.py
  skyportal/handlers/api/internal/__init__.py
  skyportal/handlers/api/internal/standards.py
  skyportal/tests/__init__.py
  skyportal/tests/api/test_standards.py
  skyportal/utils/offset.py
  static/js/components/StarList.jsx
Labels: config-change

#1467 Increase effective wavelength range of photometry colormap
  skyportal/plot.py
  skyportal/tests/frontend/test_followup_requests.py
  skyportal/tests/frontend/test_sources.py
Labels: bugfix

#1477 Allow users to request admission to groups; add a pending requests management table for admins
  alembic/versions/c496222be5c6_add_groupadmissionrequest_table.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/group_admission_request.py
  skyportal/handlers/api/internal/profile.py
  skyportal/models.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_group_admission_requests.py
  static/js/components/Group.jsx
  static/js/components/GroupAdmissionRequestsManagement.jsx
  static/js/components/Groups.jsx
  static/js/components/NonMemberGroupList.jsx
  static/js/ducks/group.js
  static/js/ducks/groupAdmissionRequests.js
  static/js/ducks/profile.js
Labels: migration

#1507 Retrieve spectra over a time range
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/spectrum.py
  skyportal/tests/api/test_spectrum.py
Labels: enhancement

#1526 fix coordinate formatting
  static/js/units.js
Labels: bugfix, critical
