Repository skyportal/skyportal, pull requests merged in 2020-11, with the labels that each got.

#1299 require system admin access or ownership for comment deletion
  skyportal/handlers/api/comment.py
Labels: bug

#1302 fix group display on observing planner
  skyportal/handlers/api/observingrun.py
  skyportal/tests/frontend/test_observing_planner.py
  static/js/components/RunSummary.jsx
Labels: enhancement

#1301 Add error test case for duplicate photometry in #1276
  skyportal/tests/api/test_photometry.py
Labels: enhancement, test

#1297 fix comment PUT
  alembic/versions/d67d42b06b11_remove_comment_attachment_type.py
  skyportal/handlers/api/comment.py
  skyportal/models.py
  skyportal/tests/api/test_comments.py
Labels: bug

#1338 increase GA timeout to 90 minutes
  .github/workflows/test.yaml
Labels: bug, critical

#1264 fix Photometry.PUT with groups='all'
  skyportal/handlers/api/photometry.py
  skyportal/tests/api/test_photometry.py
Labels: bug

#1343 track followup request id and assignment id in Spectrum object when posted through handler
  skyportal/handlers/api/spectrum.py
Labels: bug

#1363 Add savedBefore, savedAfter, and saveSummary query parameters to SourceHandler.get
  alembic/versions/73ca57416d1c_index_saved_at.py
  skyportal/handlers/api/source.py
  skyportal/models.py
  skyportal/tests/api/test_sources.py
Labels: migration

#1365 Add capability for sending emails via SMTP
  config.yaml.defaults
  skyportal/email_utils.py
  skyportal/models.py
Labels: config-change

#1348 Refactor candidates table to use 3-col index (obj_id, filter_id, passed_at)
  alembic/versions/fbf89710dead_refactor_candidates_table.py
  skyportal/handlers/api/candidate.py
  skyportal/models.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/test_recent_sources.py
  skyportal/tests/frontend/test_scanning_page.py
Labels: migration

#1402 let other users modify observing run assignments
  skyportal/handlers/api/followup_request.py
  skyportal/tests/api/test_assignments.py
Labels: bugfix

#1377 Track whether a telescope is space based or ground based
  alembic/versions/2a17ca9d5438_add_fixed_location_col.py
  skyportal/models.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/test_observability.py
  static/js/components/Observability.jsx
Labels: enhancement

#1394 Use colon instead of hms, dms as hexadecimal coordinate separators on source page
  skyportal/handlers/api/observingrun.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: enhancement

#1403 remove travis CI
  .travis.yml
  .travis/deploy_docs.sh
  .travis/header.py
  .travis/travis_funcs.sh
  .travis/travis_install.sh
  .travis/travis_script.sh
Labels: enhancement

#1387 dont crash observing run page for targets that dont rise
  skyportal/handlers/api/observingrun.py
  skyportal/models.py
  skyportal/tests/conftest.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_observing_planner.py
  static/js/components/RunSummary.jsx
Labels: bug

#1418 Hotfix websocket target for frontend
  skyportal/handlers/api/followup_request.py
Labels: bugfix, critical

#1379 Automatically refresh enums on app start and bump sncosmo to 2.3.0
  requirements.txt
  skyportal/app_server.py
  skyportal/enum_types.py
  skyportal/model_util.py
Labels: enhancement

#1378 Improve reliability of timezone finder
  requirements.txt
  skyportal/models.py
  skyportal/tests/conftest.py
  skyportal/tests/tools/test_timezone.py
Labels: bug

#1427 shore up links to survey viewers on source page
  static/js/components/ThumbnailList.jsx
Labels: enhancement
