Repository skyportal/skyportal, pull requests merged in 2021-03, with the labels that each got.

#1696 Periodogram
  LICENSE.txt
  config.yaml.defaults
  package.json
  skyportal/tests/frontend/test_periodogram.py
  static/js/components/Periodogram.jsx
  static/js/components/SourceDesktop.jsx
Labels: config-change

#1680 Migrations testing
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  skyportal/enum_types.py
Labels: workflows

#1772 Fix main testing GA workflow
  .github/workflows/test_api_and_frontend.yaml
Labels: workflows

#1727 Hr diagram
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/color_mag.py
  skyportal/handlers/api/source.py
  skyportal/models.py
  skyportal/tests/api/test_color_mag.py
  skyportal/tests/data/HR_diagram_expected.png
  skyportal/tests/frontend/test_source_list.py
  skyportal/tests/frontend/test_sources.py
  static/HR_density.json
  static/images/hr_plot.png
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/components/VegaHR.jsx
  static/js/ducks/source.js
  static/js/ducks/sources.js
Labels: demo-data, needs-migration?

#1785 relax dask requirements to allow GA builds to succeed
  requirements.txt
Labels: dependencies

#1781 No longer upload webdriver console; too verbose
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_models.yaml
Labels: workflows

#1806 Document row level security framework within SkyPortal
  doc/index.rst
  doc/permissions.md
Labels: documentation

#1820 Fix db_demo.yaml to use instruments instead of telescopes in photometry and add P48 telescope and ZTF instrument
  data/14gqr_phot.csv
  data/16fil_phot.csv
  data/ZTFe028h94k_new.png
  data/ZTFe028h94k_phot.csv
  data/ZTFrlh6cyjh_new.png
  data/ZTFrlh6cyjh_phot.csv
  data/db_demo.yaml
  skyportal/plot.py
Labels: demo-data

#1825 Move weather data into separate table
  alembic/versions/8f086f8c0c21_move_weather_data_to_separate_table.py
  skyportal/handlers/api/weather.py
  skyportal/models.py
  static/js/components/WeatherWidget.jsx
  static/js/ducks/weather.js
Labels: migration

#1826 Refactor GroupAdmissionRequest permissions and add corresponding tests
  skyportal/handlers/api/group_admission_request.py
  skyportal/models.py
  skyportal/tests/api/test_group_admission_requests.py
Labels: needs-migration?

#1813 Use a proxy test server service for caching and mocking LT test requests/responses
  .github/workflows/test_api_and_frontend.yaml
  requirements.txt
  skyportal/services/test_server/supervisor.conf
  skyportal/services/test_server/test_server.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_followup_requests.py
  test_config.yaml
Labels: config-change, dependencies, workflows
