Repository skyportal/skyportal, pull requests merged in 2021-06, with the labels that each got.

#2013 Implement group-specific source saving access logic
  alembic/versions/e4cfcff820c5_add_can_save_column_to_groupuser_table.py
  alembic/versions/fb0304aeca6c_add_can_save_to_groups_column_to_.py
  skyportal/handlers/api/group.py
  skyportal/handlers/api/invitations.py
  skyportal/models.py
  skyportal/onboarding.py
  skyportal/tests/api/test_groups.py
  skyportal/tests/api/test_invitations.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/GroupPageManageUserButtons.jsx
  static/js/components/InviteNewGroupUserForm.jsx
  static/js/components/NewGroupUserForm.jsx
  static/js/components/UserInvitations.jsx
  static/js/ducks/groups.js
Labels: migration

#1763 Suppress logging of expected authentication pipeline-related exceptions
  skyportal/app_server.py
  skyportal/onboarding.py
Labels: needs-migration?

#2047 Implement an Obj DELETE handler
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/obj.py
  skyportal/models.py
  skyportal/tests/api/test_objs.py
  skyportal/tests/fixtures.py
  test_config.yaml
Labels: config-change, needs-migration?

#2069 skymap tables only
  alembic/versions/e9b7657f6be1_skymaps.py
  package.json
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/models.py
  skyportal/schema.py
  skyportal/services/gcn_service/gcn_service.py
  skyportal/services/gcn_service/supervisor.conf
  skyportal/tests/api/test_gcn.py
  skyportal/tests/data/GRB180116A_Fermi_GBM_Gnd_Pos.xml
  skyportal/tests/data/GW190425_initial.xml
  skyportal/utils/gcn.py
  skyportal/utils/schema/VOEvent-v2.0.xsd
Labels: dependencies, migration

#2080 Push FETCH_NOTIFICATIONS WS message when new front-end notification is added in event listener
  skyportal/models.py
Labels: needs-migration?

#2078 Add note about RHF and RJSF in dev intro docs
  doc/adding_features.md
Labels: documentation

#1920 Added SDSS filters to NOT/ALFOSC
  data/instruments.yaml
Labels: demo-data

#2082 Mock-up of Top GCN Events Widget
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/internal/profile.py
  skyportal/services/gcn_service/gcn_service.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/frontend/test_gcnevents.py
  static/js/components/HomePage.jsx.template
  static/js/components/RecentGcnEvents.jsx
  static/js/ducks/gcnEvents.js
  tools/data_loader.py
Labels: config-change, demo-data
