Repository skyportal/skyportal, pull requests merged in 2021-05, with the labels that each got.

#1968 added advanced_usage to TOC
  doc/index.rst
Labels: documentation

#1883 LCO Triggering
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/telescopes.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/lco.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/test_followup_requests.py
  skyportal/utils/http.py
  test_config.yaml
Labels: config-change, demo-data

#1973 Optimize sources query
  skyportal/models.py
Labels: needs-migration?

#1841 Comment on spectra
  alembic/versions/31d3251df20b_added_comments_on_spectra.py
  skyportal/app_server.py
  skyportal/handlers/api/comment.py
  skyportal/models.py
  skyportal/tests/api/test_comments_on_spectrum.py
  skyportal/tests/fixtures.py
Labels: enhancement, migration, needs-migration?

#1687 Add GA workflow for Docker build and update docs on Docker containers
  .github/workflows/test_docker_build.yaml
  doc/deploy.md
  skyportal/initial_setup.py
  tools/data_loader.py
Labels: documentation, workflows

#1986 Index Obj.redshift column
  alembic/versions/d8a478c3d94c_add_index_to_obj_redshift_column.py
  skyportal/models.py
Labels: migration

#1969 Add Obj.alias column and start using Obj.origin
  alembic/versions/0baa156cdd5b_added_alias_column_on_obj.py
  data/db_demo.yaml
  skyportal/handlers/api/source.py
  skyportal/models.py
  skyportal/tests/api/test_sources.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_source_list.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/components/SourceTableFilterForm.jsx
Labels: demo-data, migration

#1974 Add LCO APIs migration
  alembic/versions/c0e0173c90b0_add_lco_apis.py
Labels: migration

#1990 Fix migration history
  alembic/versions/c0e0173c90b0_add_lco_apis.py
Labels: migration

#1994 Select new user role when inviting via Group page
  alembic/versions/5efdda259fd0_add_role_id_to_invitations_table.py
  skyportal/handlers/api/invitations.py
  skyportal/models.py
  skyportal/onboarding.py
  static/js/components/InviteNewGroupUserForm.jsx
  static/js/ducks/invitations.js
Labels: migration

#1972 Update ZTF triggering
  config.yaml.defaults
  data/db_demo.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/ztf.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/frontend/test_followup_requests.py
  test_config.yaml
Labels: config-change, demo-data

#1985 Add cache invalidation by age
  .flake8
  skyportal/tests/utils/test_cache.py
  skyportal/utils/cache.py
Labels: formatting-and-linting

#2001 Update invitations role ID migration script to back-populate
  alembic/versions/5efdda259fd0_add_role_id_to_invitations_table.py
  alembic/versions/d7347e0c2d4f_add_ztfapi_to_facility_api_enums.py
  skyportal/facility_apis/__init__.py
Labels: migration

#2003 Update invitations role_id migration script again
  alembic/versions/5efdda259fd0_add_role_id_to_invitations_table.py
Labels: migration

#1978 Cache scanning page query results & use cache for pagination results
  config.yaml.defaults
  skyportal/handlers/api/candidate.py
  skyportal/tests/api/test_candidates.py
  skyportal/utils/cache.py
  static/js/components/CandidateList.jsx
  static/js/components/FilterCandidateList.jsx
  static/js/ducks/candidates.js
  test_config.yaml
Labels: config-change

#2002 Added redshift_error to Obj model and redshift history update function in candidate.py
  alembic/versions/2f390f5dc944_add_redshift_error.py
  data/db_demo.yaml
  skyportal/handlers/api/candidate.py
  skyportal/models.py
  skyportal/tests/frontend/test_sources.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceRedshiftHistory.jsx
  static/js/components/UpdateSourceRedshift.jsx
Labels: demo-data, migration, needs-migration?

#2012 Pin prettier version in pre-commit configs
  .pre-commit-config.yaml
Labels: formatting-and-linting

#1999 Optimize sources filtering by classifications/redshift
  skyportal/app_server.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/models.py
Labels: needs-migration?

#2019 Do not return error code from npm ls cmd on CI
  .github/workflows/test_api_and_frontend.yaml
Labels: workflows

#2021 Add documentation section on query optimization
  doc/index.rst
  doc/query_analysis.md
Labels: documentation

#1992 Added documentation for spectroscopic lines
  doc/advanced_usage.md
Labels: documentation
