Repository skyportal/skyportal, pull requests merged in 2021-08, with the labels that each got.

#2136 Allow free-text observers/reducers for uploading spectra
  alembic/versions/171e9ea18885_add_free_text_columns_for_spectra_.py
  skyportal/handlers/api/spectrum.py
  skyportal/models.py
  skyportal/schema.py
  skyportal/tests/api/test_spectrum.py
  static/js/components/ManageDataForm.jsx
  static/js/components/UploadSpectrum.jsx
Labels: migration

#2185 Update config.yaml.defaults to be in sync with baselayer
  config.yaml.defaults
Labels: config-change

#2187 Photometry SNR bug hotfix: Ensure phot.fluxerr is non-zero number before computing SNR
  skyportal/models.py
Labels: needs-migration?

#2188 Allow users with System admin or Become user ACLs to become users when not in debug mode
  .github/workflows/test_api_and_frontend.yaml
  skyportal/handlers/become_user.py
  tools/data_loader.py
Labels: workflows
