Repository skyportal/skyportal, pull requests merged in 2021-12, with the labels that each got.

#2420 Add Fields
  alembic/versions/8c48c49f057f_add_instrument_fields.py
  data/DECam_Fields.csv
  data/DECam_Region.reg
  data/ZTF_Fields.csv
  data/ZTF_Region.reg
  data/db_demo.yaml
  package.json
  requirements.txt
  skyportal/handlers/api/instrument.py
  skyportal/models/instrument.py
  skyportal/models/schema.py
  skyportal/tests/api/test_instrument.py
  tools/data_loader.py
Labels: dependencies, migration, demo-data

#2455 Do not load all instrument fields in demo data
  data/db_demo.yaml
Labels: demo-data

#2457 Upgrade to React v17
  package.json
Labels: dependencies

#2458 Upgrade webpack to v5
  package.json
  webpack.config.js
Labels: dependencies

#2473 Update webpack config to resolve missing Buffer
  package.json
  webpack.config.js
Labels: dependencies

#2474 Use webpack 5-compatible CLI devtool options
  Dockerfile
Labels: docker

#2472 Improve flaky test separation in GA workflows
  .github/workflows/test_api_and_frontend.yaml
  skyportal/tests/api/test_photometry.py
  skyportal/tests/flaky/test_followup_requests.py
  skyportal/tests/flaky/test_photometry_api_flaky.py
Labels: workflows

#2495 Require typing-extensions>=4.0.1
  requirements.txt
Labels: dependencies
