Repository skyportal/skyportal, pull requests merged in 2021-09, with the labels that each got.

#2240 Explicitly install SkyPortal dependencies for tested branch
  .github/workflows/test_api_and_frontend.yaml
Labels: workflows

#2201 Slack integration
  config.yaml.defaults
  doc/images/slack_integration_10.png
  doc/images/slack_integration_11.png
  doc/images/slack_integration_5.png
  doc/images/slack_integration_6.png
  doc/images/slack_integration_7.png
  doc/images/slack_integration_8.png
  doc/images/slack_integration_9.png
  doc/index.rst
  doc/slack.md
  services/slack/slack.py
  services/slack/supervisor.conf
  skyportal/handlers/api/sysinfo.py
  skyportal/models.py
  skyportal/tests/frontend/test_slack.py
  static/js/components/FavoriteSourcesNotificationPreferences.jsx
  static/js/components/SlackPreferences.jsx
  static/js/components/UpdateProfileForm.jsx
Labels: documentation, config-change, needs-migration?

#2261 Set reference commit for migration checks
  .github/workflows/test_migrations.yaml
Labels: workflows

#2284 Bump migration test workflow reference commit; restrict GA runs
  .github/workflows/test_migrations.yaml
Labels: workflows

#2269 Upgrade bokeh/bokehjs to 2.4
  package.json
  requirements.txt
  static/js/components/BokehModels.js
  webpack.config.js
Labels: dependencies

#2294 Add DB initialization to quickstart docs
  doc/index.rst
Labels: documentation

#2212 Comment API URL reorganization
  data/db_demo.yaml
  doc/advanced_usage.md
  doc/comment_url_migration.md
  skyportal/app_server.py
  skyportal/handlers/api/annotation.py
  skyportal/handlers/api/comment.py
  skyportal/tests/api/test_annotations.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/api/test_color_mag.py
  skyportal/tests/api/test_comments.py
  skyportal/tests/api/test_comments_on_spectrum.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_newsfeed.py
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/CommentAttachmentPreview.jsx
  static/js/components/CommentList.jsx
  static/js/components/CommentListMobile.jsx
  static/js/components/ManageDataForm.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/source.js
Labels: documentation, demo-data

#2295 Create new session for each async thumbnail gen task
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/models.py
Labels: needs-migration?

#2301 Use plural nouns consistently in comments API endpoints
  data/db_demo.yaml
  doc/advanced_usage.md
  doc/comment_url_migration.md
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/annotation.py
  skyportal/handlers/api/comment.py
  skyportal/tests/api/test_annotations.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/api/test_color_mag.py
  skyportal/tests/api/test_comments.py
  skyportal/tests/api/test_comments_on_spectrum.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_newsfeed.py
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/CommentAttachmentPreview.jsx
  static/js/ducks/source.js
Labels: documentation, demo-data
