Repository skyportal/skyportal, pull requests merged in 2021-07, with the labels that each got.

#2118 Distinguish between comments posted by logged-in users & bots; allow excluding bot comments from newsfeed
  alembic/versions/1f4da189227e_add_bot_column_to_comments_tables.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/news_feed.py
  skyportal/models.py
  skyportal/tests/api/test_comments.py
  skyportal/tests/frontend/test_newsfeed.py
  static/js/components/NewsFeed.jsx
  static/js/components/WidgetPrefsDialog.jsx
Labels: migration

#2125 Pin working requests version
  requirements.txt
Labels: dependencies

#2124 Adding notes on WSL to setup doc
  doc/setup.md
Labels: documentation

#2120 Classification sliders for adding multiple classifications at once
  data/variable_taxonomy.yaml
  skyportal/tests/frontend/test_group_sources.py
  static/js/components/GroupSources.jsx
  static/js/components/MultipleClassificationsForm.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/classifications.js
  tools/prepare_seed_data.py
Labels: demo-data

#2090 Basic event page display
  config.yaml.defaults
  package.json
  static/js/components/GcnEventPage.jsx
  static/js/ducks/gcnEvent.js
  static/js/ducks/localization.js
Labels: config-change, dependencies

#2086 Add basic GCN Events page
  config.yaml.defaults
  static/js/components/GcnEvents.jsx
  static/js/components/RecentGcnEvents.jsx
  static/js/ducks/gcnEvents.js
  static/js/ducks/recentGcnEvents.js
Labels: config-change

#2130 Add hours below airmass plot to observability page
  .gitignore
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/internal/__init__.py
  skyportal/handlers/api/internal/plot.py
  static/js/components/AirmassPlot.jsx
  static/js/components/HoursBelowAirmassPlot.jsx.template
  static/js/components/Observability.jsx
Labels: config-change

#2085 Add origin/altdata to spectrum displays
  data/db_demo.yaml
  skyportal/plot.py
  static/js/components/ManageDataForm.jsx
Labels: demo-data

#2142 Update GCN notice types enum
  alembic/versions/4ef77725b330_update_gcn_notices_enum.py
Labels: migration

#2146 Split up GA test runs across multiple builds using matrix
  .github/workflows/add_labels.yaml
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_docker_build.yaml
  .github/workflows/test_models.yaml
  skyportal/tests/frontend/sources_and_followup_etc/__init__.py
  skyportal/tests/frontend/sources_and_followup_etc/test_assignments.py
  skyportal/tests/frontend/sources_and_followup_etc/test_followup_requests.py
  skyportal/tests/frontend/sources_and_followup_etc/test_group_sources.py
  skyportal/tests/frontend/sources_and_followup_etc/test_observing_planner.py
  skyportal/tests/frontend/sources_and_followup_etc/test_recent_sources.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_count.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/sources_and_followup_etc/test_top_sources.py
  skyportal/tests/frontend/test_notifications.py
Labels: workflows
