Repository skyportal/skyportal, pull requests merged in 2021-02, with the labels that each got.

#1650 Clean up test fixture database rows
  alembic/versions/1c2d593e9778_foreign_key_updates_for_proper_deletion_.py
  doc/dev.md
  skyportal/handlers/api/source.py
  skyportal/handlers/become_user.py
  skyportal/model_util.py
  skyportal/models.py
  skyportal/tests/api/test_assignments.py
  skyportal/tests/api/test_comments.py
  skyportal/tests/api/test_groups.py
  skyportal/tests/api/test_photometry.py
  skyportal/tests/api/test_user.py
  skyportal/tests/conftest.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_groups.py
Labels: migration

#1577 Favorites frontend
  config.yaml.defaults
  skyportal/handlers/api/group.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/user_obj_list.py
  skyportal/tests/frontend/test_favorites_page.py
  skyportal/tests/frontend/test_group_sources.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/frontend/test_notifications.py
  static/js/actions.js
  static/js/components/ClassificationForm.jsx
  static/js/components/FavoritesButton.jsx
  static/js/components/FavoritesPage.jsx
  static/js/components/GroupPageManageUserButtons.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/favorites.js
  static/js/ducks/sources.js
Labels: config-change

#1633 Interactive Periodogram
  LICENSE.txt
  config.yaml.defaults
  package.json
  static/js/components/Periodogram.jsx
  static/js/components/SourceDesktop.jsx
Labels: config-change, enhancement
