Repository skyportal/skyportal, pull requests merged in 2021-04, with the labels that each got.

#1834 Control access to Photometry via Obj hybrid properties
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/models.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/api/test_sources.py
Labels: needs-migration?

#1782 documentation HR diagrams
  doc/advanced_usage.md
Labels: documentation

#1840 Hr diagram doc
  doc/advanced_usage.md
Labels: documentation

#1842 Minor fixes to docs in dev.md and permissions.md
  doc/dev.md
  doc/permissions.md
Labels: documentation

#1854 Fix user/group/streams in demo data
  data/db_demo.yaml
Labels: demo-data

#1857 Add missing indexes on classifications table columns
  alembic/versions/1562ff135257_add_missing_indexes_for_classifications_.py
  skyportal/models.py
Labels: migration

#1823 Invert only grayscale thumbnails when "Invert thumbnails" is set
  alembic/versions/19b72aac66cd_add_thumbnail_is_grayscale.py
  config.yaml.defaults
  skyportal/handlers/api/internal/recent_sources.py
  skyportal/handlers/api/internal/source_views.py
  skyportal/handlers/api/thumbnail.py
  skyportal/models.py
  skyportal/utils/thumbnail.py
  static/js/components/RecentSources.jsx
  static/js/components/ThumbnailList.jsx
  static/js/components/TopSources.jsx
  static/js/components/UIPreferences.jsx
Labels: config-change, migration

#1866 Fix way too slow thumbnail color migration
  alembic/versions/19b72aac66cd_add_thumbnail_is_grayscale.py
Labels: migration

#1876 Make `Annotation.data` non-nullable
  alembic/versions/c867ada3e0c4_make_annotation_data_non_nullable.py
  skyportal/models.py
  skyportal/tests/api/test_annotations.py
Labels: migration

#1793 Implement stream / group / user access logic and update group and stream handlers
  data/db_demo.yaml
  skyportal/handlers/api/group.py
  skyportal/handlers/api/stream.py
  skyportal/models.py
  skyportal/tests/api/test_groups.py
  skyportal/tests/api/test_streams.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/models/test_permissions.py
Labels: demo-data, needs-migration?

#1855 Refactor Invitations API permissions and add tests for invitations
  requirements.txt
  skyportal/handlers/api/invitations.py
  skyportal/services/test_server/cert.pem
  skyportal/services/test_server/key.pem
  skyportal/services/test_server/supervisor.conf
  skyportal/services/test_server/test_api_server.py
  skyportal/services/test_server/test_smtp_server.py
  skyportal/tests/api/test_invitations.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/test_invitations.py
  static/js/components/InviteNewGroupUserForm.jsx
  static/js/components/UserInvitations.jsx
  test_config.yaml
Labels: config-change, dependencies

#1916 Update docs outlining basic alembic usage
  doc/migrations.md
Labels: documentation

#1903 Finish porting queries over to new access infrastructure
  skyportal/facility_apis/sedm.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/internal/annotations_info.py
  skyportal/handlers/api/internal/ephemeris.py
  skyportal/handlers/api/internal/notifications.py
  skyportal/handlers/api/internal/plot.py
  skyportal/handlers/api/internal/profile.py
  skyportal/handlers/api/internal/recent_sources.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/handlers/api/internal/source_counts.py
  skyportal/handlers/api/internal/source_views.py
  skyportal/handlers/api/internal/token.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/spectrum.py
  skyportal/handlers/api/thumbnail.py
  skyportal/handlers/api/user_obj_list.py
  skyportal/handlers/api/weather.py
  skyportal/models.py
  skyportal/plot.py
  skyportal/tests/api/test_listings.py
  skyportal/tests/api/test_thumbnail.py
Labels: needs-migration?

#1907 Update Photometry access policy to give read access to any user w/ sufficient stream access
  alembic/versions/0595e877f471_add_streamphotometry_table.py
  data/db_demo.yaml
  skyportal/handlers/api/photometry.py
  skyportal/models.py
  skyportal/schema.py
  skyportal/tests/api/test_photometry.py
  skyportal/tests/conftest.py
Labels: demo-data, migration

#1915 Make dashboard widgets more responsive
  config.yaml.defaults
  static/js/components/GroupList.jsx
  static/js/components/HomePage.jsx.template
  static/js/components/NewsFeed.jsx
  static/js/components/RecentSources.jsx
  static/js/components/TopSources.jsx
  static/js/components/WeatherWidget.jsx
Labels: config-change
