Repository skyportal/skyportal, pull requests merged in 2021-11, with the labels that each got.

#2417 Fix data heirarchy in advanced_usage.md docs
  doc/advanced_usage.md
Labels: documentation

#2418 Change healpix-alchemy -> conesearch-alchemy
  requirements.txt
  skyportal/handlers/api/source.py
  skyportal/models/obj.py
  skyportal/models/photometry.py
  skyportal/tests/tools/test_radial_query.py
Labels: dependencies

#2282 Replaced 14gqr and 16fil with 1 supernova and 1 varstar from fritz's sources list
  data/ZTF18aabcvnq_phot.csv
  data/ZTF21aaqjmps_phot.csv
  data/ZTF21aaqjmps_spec.csv
  data/db_demo.yaml
  data/zac_spec.dat
  skyportal/tests/data/ZTF18aabcvnq_new.png
  skyportal/tests/data/ZTF18aabcvnq_ref.png
  skyportal/tests/data/ZTF18aabcvnq_sub.png
  skyportal/tests/data/ZTF21aaqjmps_new.png
  skyportal/tests/data/ZTF21aaqjmps_ref.png
  skyportal/tests/data/ZTF21aaqjmps_sub.png
Labels: demo-data

#2393 Spectrum Annotations front end
  data/db_demo.yaml
  skyportal/handlers/api/spectrum.py
  skyportal/plot.py
  skyportal/tests/frontend/test_individual_spectra.py
  static/js/components/AnnotationsTable.jsx
  static/js/components/ManageDataForm.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: demo-data

#2427 Slack integration: Add blurb in docs to point directly to existing app
  doc/slack.md
Labels: documentation

#2391 Galaxy table
  alembic/versions/1aeb080b0eda_galaxy_table.py
  data/CLU_mini.hdf5
  data/db_demo.yaml
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/galaxy.py
  skyportal/models/__init__.py
  skyportal/models/galaxy.py
  skyportal/models/schema.py
  skyportal/tests/api/test_galaxy.py
  tools/data_loader.py
Labels: dependencies, migration, demo-data
