Repository skyportal/skyportal, pull requests merged in 2022-04, with the labels that each got.

#2689 WIP: Updated shift model and API
  alembic/versions/5bedad46562c_shift_users.py
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/shift.py
  skyportal/models/shift.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_shifts.py
  skyportal/tests/flaky/test_shifts_flaky.py
  static/js/components/NewShift.jsx
  static/js/components/ShiftPage.jsx
  static/js/ducks/shift.js
  static/js/ducks/shifts.js
Labels: migration, demo-data

#2820 Upgrade to regions 0.6
  requirements.txt
  skyportal/tests/api/test_instrument.py
Labels: dependencies, needs-migration?

#2749 Post LegacySurvey photoz's as annotations
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  Dockerfile
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/annotation_services.py
  skyportal/tests/api/test_annotation_services.py
  static/js/components/SourceAnnotationButtons.jsx
  static/js/ducks/source.js
Labels: dependencies, needs-migration?, docker, workflows

#2785 Synthetic photometry
  alembic/versions/111d0c968332_synth_phot.py
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/spectrum.py
  skyportal/models/schema.py
  skyportal/models/spectrum.py
  skyportal/tests/api/test_synthphot.py
  static/js/components/ManageDataForm.jsx
  static/js/components/SyntheticPhotometryForm.jsx
  static/js/ducks/spectra.js
Labels: migration, demo-data

#2743 new source widget
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/source_exists.py
  skyportal/tests/frontend/test_new_source.py
  static/js/components/GroupShareSelect.jsx
  static/js/components/HomePage.jsx.template
  static/js/components/NewSource.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/ducks/source.js
Labels: config-change

#2831 Adding missing packages that broke pycurl
  doc/setup.md
Labels: documentation

#2830 Upgrade react-router-dom from 5.3.0 to 6.3.0
  package.json
  static/js/components/GcnEventPage.jsx
  static/js/components/Group.jsx
  static/js/components/GroupPageManageUserButtons.jsx
  static/js/components/GroupSources.jsx
  static/js/components/Main.jsx.template
  static/js/components/ManageDataForm.jsx
  static/js/components/NewSource.jsx
  static/js/components/Observability.jsx
  static/js/components/QuickSearchBar.jsx
  static/js/components/Route.jsx
  static/js/components/RunSummary.jsx
  static/js/components/Source.jsx
  static/js/components/SourceTable.jsx
  static/js/components/UploadSpectrum.jsx
  static/js/components/UserInfo.jsx
  static/js/components/withRouter.jsx
Labels: dependencies

#2823 Updated shift frontend - Shift Calendar
  package.json
  skyportal/tests/frontend/test_shifts.py
  static/js/components/NewShift.jsx
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftPage.jsx
  static/js/ducks/shift.js
  webpack.config.js
Labels: dependencies

#2848 Shift Management - Display Admins and handle permissions
  package.json
  skyportal/handlers/api/shift.py
  skyportal/tests/api/test_shifts.py
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftManagement.jsx
Labels: dependencies

#2835 Telescope map
  data/db_demo.yaml
  package.json
  skyportal/tests/flaky/test_frontend_flaky.py
  static/images/maps/world-110m.json
  static/js/components/TelescopeInfo.jsx
  static/js/components/TelescopeMap.jsx
  static/js/components/TelescopePage.jsx
  static/js/components/TelescopePageDesktop.jsx
  static/js/components/TelescopePageMobile.jsx
  static/js/ducks/telescope.js
Labels: dependencies, demo-data

#2860 Move from babel-eslint to @babel/eslint-parser
  .eslintrc.yaml
  package.json
Labels: dependencies, formatting-and-linting

#2841 Add type column to user notification table
  alembic/versions/64c2fee9d302_add_type_column_to_user_notification_.py
  skyportal/handlers/api/comment.py
  skyportal/models/user_notification.py
Labels: migration

#2877 Add follow-up requests to demo data
  data/db_demo.yaml
  tools/data_loader.py
Labels: demo-data

#2883 Add nano editor to Docker image
  Dockerfile
Labels: docker
