Repository skyportal/skyportal, pull requests merged in 2022-09, with the labels that each got.

#3406 MMADetector spectrum
  alembic/versions/4822ff118a4f_mma_spectrum.py
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/mmadetector.py
  skyportal/models/group.py
  skyportal/models/group_joins.py
  skyportal/models/mmadetector.py
  skyportal/models/schema.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_mmadetector.py
  skyportal/tests/data/aligo_O4high_noise_spectrum.txt
Labels: dependencies, migration

#3439 bump node version to 18 in workflows & move flaky tests
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  skyportal/tests/flaky/test_analysis_services.py
  skyportal/tests/flaky/test_gcnevents_flaky.py
  skyportal/tests/frontend/test_gcn.py
  skyportal/tests/frontend/test_reminders.py
Labels: workflows

#3404 Ground velocities
  alembic/versions/99de544181a3_test_migration.py
  data/db_demo.yaml
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/earthquake.py
  skyportal/handlers/api/reminder.py
  skyportal/models/__init__.py
  skyportal/models/comment.py
  skyportal/models/earthquake.py
  skyportal/models/group_joins.py
  skyportal/models/reminder.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_earthquake.py
  skyportal/tests/data/quakeml.xml
Labels: dependencies, migration, demo-data

#3453 PDL service
  doc/mma.md
  requirements.txt
  services/pdl_service/config.ini
  services/pdl_service/init.sh
  services/pdl_service/pdl_service.py
  services/pdl_service/supervisor.conf
Labels: documentation, dependencies, needs-migration?

#3434 Add MMADetectorTimeIntervals
  alembic/versions/44a7408c38a3_time_interval.py
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/mmadetector.py
  skyportal/models/group.py
  skyportal/models/group_joins.py
  skyportal/models/mmadetector.py
  skyportal/models/schema.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_mmadetector.py
  skyportal/tests/data/H1L1_O3_time_intervals.txt
Labels: dependencies, migration

#3456 Add classification management to usage doc
  doc/usage.md
Labels: documentation

#3452 Earthquake map
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/earthquake.py
  skyportal/tests/api/test_earthquake.py
  static/js/actions.js
  static/js/components/CommentAttachmentPreview.jsx
  static/js/components/CommentList.jsx
  static/js/components/CompactCommentList.jsx
  static/js/components/EarthquakeInfo.jsx
  static/js/components/EarthquakeMap.jsx
  static/js/components/EarthquakePage.jsx
  static/js/components/EarthquakePredictionForm.jsx
  static/js/components/EarthquakePredictionLists.jsx
  static/js/components/EarthquakesFilterForm.jsx
  static/js/components/EarthquakesPage.jsx
  static/js/components/EarthquakesPageDesktop.jsx
  static/js/components/EarthquakesPageMobile.jsx
  static/js/components/NewEarthquake.jsx
  static/js/components/RegularCommentList.jsx
  static/js/ducks/earthquake.js
  static/js/ducks/earthquakeStatuses.js
Labels: config-change

#3447 Add Swift LSXPS catalog query
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/facility_apis/swift.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/catalog_services.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/test_catalog_services.py
Labels: config-change, demo-data

#2790 Add ref_flux and ref_fluxerr columns to photometry
  alembic/versions/fff290c02ef8_reference_flux.py
  skyportal/models/photometry.py
Labels: migration

#3458 swiftxrt migration
  .github/workflows/test_models.yaml
  alembic/versions/99de544181a3_eq.py
  alembic/versions/c589cb7d70ec_swiftxrt.py
Labels: migration, workflows

#3457 Add earthquake measurements
  alembic/versions/70abba5d7466_nullable_eqs.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/earthquake.py
  skyportal/models/earthquake.py
  skyportal/tests/api/test_earthquake.py
  static/js/components/EarthquakeInfo.jsx
  static/js/components/EarthquakeMeasurementLists.jsx
  static/js/components/EarthquakePage.jsx
Labels: migration

#3446 Add properties table for ease of filtering events
  alembic/versions/2510cf8ad164_gcn_properties.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/source.py
  skyportal/models/gcn.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_gcn.py
  skyportal/utils/gcn.py
Labels: migration

#3460 Add catalog query
  alembic/versions/5466bd5ce2e5_catalog_query.py
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/catalog_services.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation.py
  skyportal/models/allocation.py
  skyportal/models/catalog.py
  skyportal/models/observation_plan.py
  skyportal/models/schema.py
  skyportal/models/user_token.py
  skyportal/utils/catalog.py
  static/js/components/AddCatalogQueryPage.jsx
  static/js/components/CatalogQueryForm.jsx
  static/js/components/CatalogQueryLists.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/ducks/catalog_query.js
Labels: dependencies, migration

#3463 Legacy Survey DR9
  alembic/versions/831be4c27aef_ls_dr9.py
  skyportal/enum_types.py
  skyportal/models/obj.py
  skyportal/models/thumbnail.py
  static/js/components/ThumbnailList.jsx
Labels: migration

#3470 Nicer ToO request
  alembic/versions/8e0f15cb11af_nicer_too.py
  config.yaml.defaults
  data/db_demo.yaml
  doc/mma.md
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/nicer.py
Labels: documentation, migration, config-change, demo-data

#3474 Public cone search
  config.yaml.defaults
  skyportal/handlers/api/catalog_services.py
  skyportal/utils/catalog.py
  static/js/components/CatalogQueryForm.jsx
Labels: config-change

#3485 Add GCN event ingestion to docs
  doc/mma.md
  static/js/components/CandidateList.jsx
  static/js/components/ThumbnailList.jsx
Labels: documentation

#3496 Update taxonomy documentation
  doc/advanced_usage.md
Labels: documentation

#3501 Catch photometry plot errors
  data/badsource.csv
  data/db_demo.yaml
  skyportal/plot.py
  static/js/components/Plot.jsx
Labels: demo-data

#3506 Add Gaia photometric alert catalog
  alembic/versions/0fe39d624f51__sncosmo_2p9_migration.py
  data/db_demo.yaml
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/catalog_services.py
  static/js/components/CatalogQueryForm.jsx
Labels: dependencies, migration, demo-data

#3508 set group_id for GCN
  config.yaml.defaults
  services/gcn_service/gcn_service.py
Labels: config-change

#3505 mount new persistent data directory for analysis results & fixup Docker builds
  .dockerignore
  Dockerfile
  config.yaml.defaults
  docker-compose.yaml
Labels: config-change, docker

#3514 Pin confluent-kafka
  requirements.txt
Labels: dependencies, needs-migration?

#3524 Add index to instrument_field_id
  alembic/versions/555d55d658e6_inst_field_index.py
  skyportal/models/instrument.py
Labels: migration

#3522 Enable plotting with reference magnitudes / fluxes
  data/ZTFrlh6cyjh_phot.csv
  skyportal/plot.py
  static/js/components/UIPreferences.jsx
Labels: demo-data
