Repository skyportal/skyportal, pull requests merged in 2022-01, with the labels that each got.

#2524 Fix typo in docs
  doc/dev.md
Labels: documentation

#2521 Add ? label to low probability classifications
  data/db_demo.yaml
  package.json
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/ShowClassification.jsx
Labels: dependencies, demo-data

#2468 SEDMv2 triggering interface
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/telescopes.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/sedmv2.py
  skyportal/tests/flaky/test_followup_requests.py
Labels: config-change, demo-data

#2537 Dockerfile: copy config before setting up services which may rely on it
  Dockerfile
Labels: docker

#2532 Add KAIT as instrument
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/telescopes.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/kait.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/flaky/test_followup_requests.py
  test_config.yaml
Labels: config-change, demo-data

#2552 Pin mui-datatables 3.8.2; react 17.0.0
  .github/workflows/test_api_and_frontend.yaml
  package.json
  skyportal/tests/frontend/sources_and_followup_etc/test_group_sources.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
Labels: dependencies, workflows

#2523 fix NaN handling for new pandas conventions
  requirements.txt
  skyportal/handlers/api/photometry.py
Labels: dependencies

#2557 Correctly detect when to run migrations and apply needs-migration label
  .github/labeler.yml
  .github/workflows/test_migrations.yaml
Labels: workflows

#2530 Add K Band magnitude column to galaxy table
  .github/workflows/test_migrations.yaml
  alembic/versions/f9611048498a_add_kband_to_galaxy_table.py
  skyportal/handlers/api/galaxy.py
  skyportal/models/galaxy.py
Labels: migration, workflows

#2548 Add instrument page
  config.yaml.defaults
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/telescope.py
  skyportal/tests/frontend/test_instruments_page.py
  static/js/components/InstrumentPage.jsx
  static/js/components/NewInstrument.jsx
  static/js/ducks/instrument.js
  static/js/ducks/instruments.js
  static/js/ducks/telescopes.js
Labels: config-change

#2558 Add telescope page
  config.yaml.defaults
  skyportal/tests/frontend/test_instruments_page.py
  skyportal/tests/frontend/test_telescopes_page.py
  static/js/components/NewTelescope.jsx
  static/js/components/TelescopePage.jsx
  static/js/ducks/telescope.js
Labels: config-change

#2547 Add dedicated allocations page
  config.yaml.defaults
  skyportal/handlers/api/allocation.py
  skyportal/tests/frontend/test_allocations_page.py
  skyportal/tests/frontend/test_instruments_page.py
  static/js/components/AllocationPage.jsx
  static/js/components/NewAllocation.jsx
  static/js/ducks/allocation.js
Labels: config-change

#2587 Add @material-ui/styles peer dependency
  package.json
Labels: dependencies

#2591 watch enum_types and facilities_apis for potential database changes
  .github/workflows/test_migrations.yaml
Labels: workflows

#2575 Add LocalizationTile table to determine which objects are inside localization
  alembic/versions/d61a8bea7313_crossmatch.py
  requirements.txt
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/source.py
  skyportal/models/localization.py
  skyportal/models/obj.py
  skyportal/tests/api/test_galaxy.py
  skyportal/tests/api/test_instrument.py
  skyportal/tests/api/test_sources.py
  skyportal/tests/frontend/test_gcnevents.py
  skyportal/tests/frontend/test_recent_gcnevents.py
  static/js/components/GcnEventPage.jsx
  static/js/ducks/sources.js
Labels: dependencies, migration

#2593 Pin astropy 5.0 (avoid 5.0.1 which PyVO does not work with)
  requirements.txt
Labels: dependencies

#2581 add custom bandpasses
  alembic/versions/aea51b4ff0b0_add_atlas_filters.py
  config.yaml.defaults
  data/db_demo.yaml
  requirements.txt
  skyportal/enum_types.py
  skyportal/models/telescope.py
  skyportal/plot.py
  skyportal/tests/api/test_sources.py
  skyportal/tests/frontend/test_allocations_page.py
  skyportal/tests/frontend/test_instruments_page.py
Labels: dependencies, migration, config-change, demo-data

#2550 Create SLACKAPI to allow instrument triggering via Slack
  alembic/versions/82f5a89fbe59_slack_trigger_api.py
  data/db_demo.yaml
  doc/slack.md
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/slack.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/tests/flaky/test_followup_requests_flaky.py
  skyportal/utils/http.py
Labels: documentation, migration, demo-data

#2597 Pin pyvo 1.2.1 and astropy 5.0.1 which work together
  requirements.txt
Labels: dependencies

#2600 Use newer base for migrations, since old version suffers from astropy/pyvo incompatibility issue
  .github/workflows/test_migrations.yaml
Labels: workflows
