Repository skyportal/skyportal, pull requests merged in 2022-05, with the labels that each got.

#2918 update docs and GHA for main
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_docker_build.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  doc/adding_features.md
  doc/contributing.md
  doc/migrations.md
  doc/mma.md
  doc/permissions.md
  skyportal/openapi.py
Labels: documentation, workflows

#2938 Wrong configuration in the Docs for pg_hba.conf
  doc/setup.md
Labels: documentation

#2893 Add nginx info when using Let's Encrypt certificates
  doc/setup.md
Labels: documentation

#2871 Fixed broken flaky front-end tests, not their flakiness
  skyportal/tests/flaky/test_frontend_flaky.py
  static/js/components/GcnSelectionForm.jsx
Labels: test, bugfix

#2952 Documentation : PostgreSQL Configuration
  doc/setup.md
Labels: documentation

#2964 Fix issue with converting Local input in form to UTC date
  static/js/components/GcnSelectionForm.jsx
  static/js/components/NewAPIObservation.jsx
  static/js/components/NewAPIQueuedObservation.jsx
  static/js/components/NewAllocation.jsx
  static/js/components/NewShift.jsx
Labels: bugfix

#2864 added missing steps to create an administrative user
  doc/setup.md
  tools/set_user_role.py
Labels: documentation

#2983 tools/set_user_role.py - error when adding a role to a user that has no roles yet.
  tools/set_user_role.py
Labels: bug, bugfix

#2989 lon lat elevation : validation in NewTelescope.jsx and in the handler if the telescope is fixed
  skyportal/handlers/api/telescope.py
  static/js/components/NewTelescope.jsx
Labels: bugfix

#2975 WIP: Shift - Ask for replacement
  alembic/versions/8acd303bd097_shift_replacement.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/handlers/api/shift.py
  skyportal/models/shift.py
  skyportal/tests/conftest.py
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_shifts.py
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftNoId.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/ShiftWithId.jsx
  static/js/ducks/shifts.js
Labels: enhancement, migration, config-change, demo-data

#2997 pin mathjax_full
  package.json
Labels: dependencies

#3007 Add server_default to needs_replacement
  alembic/versions/8acd303bd097_shift_replacement.py
Labels: migration

#3008 Drop the needs_replacement column default
  alembic/versions/8acd303bd097_shift_replacement.py
Labels: migration

#2995 Add option for default groups for an allocation to share with
  alembic/versions/415cd17ac788_allocation_default.py
  data/db_demo.yaml
  skyportal/models/allocation.py
  skyportal/tests/api/test_allocations.py
  static/js/components/AllocationPage.jsx
  static/js/components/FollowupRequestForm.jsx
  static/js/components/NewAllocation.jsx
Labels: migration, demo-data

#3013 Configuration for the GCN Service
  config.yaml.defaults
  services/gcn_service/gcn_service.py
Labels: enhancement, config-change, python

#2988 Gaia button
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/annotation_services.py
  skyportal/handlers/api/color_mag.py
  skyportal/tests/api/test_annotations_on_spectrum.py
  skyportal/tests/api/test_color_mag.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/SourceAnnotationButtons.jsx
  static/js/ducks/source.js
Labels: config-change
