Repository skyportal/skyportal, pull requests merged in 2022-02, with the labels that each got.

#2611 pip 22 breaks our dependencies
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  requirements.txt
Labels: dependencies, workflows

#2652 revert sncosmo until we figure out enum migration
  requirements.txt
Labels: dependencies

#2430 Add executed observations table
  alembic/versions/9167685a2710_observations_table.py
  data/sample_observation_data.csv
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/source.py
  skyportal/models/__init__.py
  skyportal/models/instrument.py
  skyportal/models/observation.py
  skyportal/models/schema.py
  skyportal/tests/api/test_instrument.py
  skyportal/tests/api/test_observation.py
Labels: migration, demo-data

#2574 GCN comments table
  alembic/versions/66ed6017e9ac_add_gcn_comments.py
  doc/adding_comments_annotation_types.md
  skyportal/models/comment.py
  skyportal/models/gcn.py
  skyportal/models/group_joins.py
  skyportal/models/user_token.py
  skyportal/tests/conftest.py
  skyportal/tests/fixtures.py
Labels: documentation, migration

#2655 shift model and API
  alembic/versions/5ab82f23e15c_add_shift.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/shift.py
  skyportal/model_util.py
  skyportal/models/__init__.py
  skyportal/models/group.py
  skyportal/models/shift.py
  skyportal/tests/api/test_shifts.py
Labels: migration

#2662 ObservationPlanRequests API
  alembic/versions/529166dc7732_plans_api.py
  doc/mma.md
  requirements.txt
  skyportal/app_server.py
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/instrument.py
  skyportal/tests/api/test_observation_plan.py
Labels: documentation, dependencies, migration

#2276 Documentation for spectroscopic lines
  doc/advanced_usage.md
Labels: documentation

#2670 Phase folded plot in SourceTable
  doc/images/periodogram.png
  doc/period.md
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/test_sources.py
  static/js/components/SourceTable.jsx
  static/js/components/VegaFoldedPlot.jsx
  static/js/ducks/sources.js
Labels: documentation

#2679 Fix atlas migration
  alembic/versions/d6b24747693a_atlas_api.py
Labels: migration

#2676 Observation Plans submission
  alembic/versions/29fbb7ea2c4f_observation_plans_submission.py
  skyportal/app_server.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/facility_transaction.py
  skyportal/models/instrument.py
  skyportal/models/observation_plan.py
  skyportal/tests/frontend/test_gcnevents.py
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/ducks/gcnEvent.js
Labels: migration

#2692 Migration labeler reqs
  .github/labeler.yml
  .github/workflows/test_migrations.yaml
Labels: workflows
