Repository skyportal/skyportal, pull requests merged in 2022-06, with the labels that each got.

#3050 timezonefinder 6.0
  requirements.txt
  skyportal/models/telescope.py
Labels: dependencies, needs-migration?

#3001 WIP: Shift summary
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/shift.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/test_shifts.py
  skyportal/tests/frontend/test_shifts.py
  static/js/components/GalaxyTable.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/ShiftSummary.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/shift.js
Labels: enhancement, python, javascript, demo-data

#3043 Observation plan refactor
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/api/test_observation_plan.py
Labels: config-change

#2976 Add concept of FacilityTransactionRequest
  alembic/versions/3ec95baef9a7_queue_microservice.py
  config.yaml.defaults
  services/facility_queue/facility_queue.py
  services/facility_queue/supervisor.conf
  skyportal/facility_apis/atlas.py
  skyportal/models/facility_transaction.py
  skyportal/models/followup_request.py
  skyportal/models/observation_plan.py
  skyportal/models/user_token.py
  static/js/components/FollowupRequestLists.jsx
Labels: migration, config-change

#2999 Health monitor: restart unresponsive app instances
  config.yaml.defaults
  services/health_monitor/health_monitor.py
  services/health_monitor/supervisor.conf
Labels: config-change

#3063 Format configuration in YAML format
  config.yaml.defaults
Labels: config-change

#3064 Migration manager takes longer than 1s to run Alembic
  config.yaml.defaults
  services/health_monitor/health_monitor.py
Labels: config-change

#3062 Retrieving all unique origins to display them in a dropdown menu
  data/ZTFinGCN_phot.csv
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/photometry.py
  skyportal/tests/frontend/test_profile.py
  static/js/components/OriginSelect.jsx
  static/js/ducks/photometry.js
Labels: demo-data

#3066 Shift Calendar Enhancement (MUI5, display, options, tooltips)
  alembic/versions/15e924167158_shift_required_users_number.py
  data/db_demo.yaml
  skyportal/handlers/api/shift.py
  skyportal/models/shift.py
  skyportal/tests/api/test_shifts.py
  skyportal/tests/frontend/test_shifts.py
  static/js/components/GroupsSelect.jsx
  static/js/components/NewShift.jsx
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/ShiftSummary.jsx
Labels: migration, demo-data

#3003 New user (on login or using the API) - Default Groups, ACLs and Role
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/user.py
  skyportal/onboarding.py
Labels: config-change, demo-data

#2960 Slightly relax line lengths
  .flake8
Labels: formatting-and-linting

#3000 Comments on shift
  alembic/versions/a1868013bebb_shift_comments.py
  skyportal/app_server.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/shift.py
  skyportal/models/comment.py
  skyportal/models/group_joins.py
  skyportal/models/shift.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_comments_on_shift.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_shifts.py
  static/js/components/CommentAttachmentPreview.jsx
  static/js/components/CommentEntry.jsx
  static/js/components/CommentList.jsx
  static/js/components/CompactCommentList.jsx
  static/js/components/DeleteComment.jsx
  static/js/components/RegularCommentList.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftPage.jsx
  static/js/ducks/shift.js
Labels: migration

#3058 Calculate efficiency for executed observations
  data/ZTF_GW190425_observation_data.csv
  skyportal/app_server.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/api/test_observation.py
  static/js/components/GcnSelectionForm.jsx
  static/js/ducks/observations.js
Labels: demo-data

#3090 Change sedm_endpoint from pharos to minar
  config.yaml.defaults
Labels: config-change

#3057 Photometric Statistics
  alembic/versions/d175da67db16_phot_stats.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/phot_stat.py
  skyportal/handlers/api/photometry.py
  skyportal/models/__init__.py
  skyportal/models/obj.py
  skyportal/models/phot_stat.py
  skyportal/tests/api/test_phot_stats.py
  skyportal/tests/api/test_photometry.py
  skyportal/tests/tools/test_offset_util.py
Labels: migration

#3104 Add a Galaxy page
  alembic/versions/a936f994d65c_galaxy_page.py
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/galaxy.py
  skyportal/models/galaxy.py
  skyportal/models/schema.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/data/CLU_mini.csv
  skyportal/tests/flaky/test_galaxy_flaky.py
  skyportal/tests/flaky/test_upload_galaxies_flaky.py
  static/js/components/FollowupRequestPage.jsx
  static/js/components/GalaxyPage.jsx
  static/js/components/GalaxyTable.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/NewGalaxy.jsx
  static/js/components/ObservationPage.jsx
  static/js/ducks/galaxies.js
Labels: migration, config-change

#3103 GcnEventPage async
  alembic/versions/a75237f48f29_observation_galaxy_index.py
  config.yaml.defaults
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/source.py
  skyportal/models/galaxy.py
  skyportal/models/observation.py
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/ObservationPage.jsx
  static/js/ducks/observations.js
Labels: migration, config-change

#3132 Use GW190814 in demo data
  data/GW190814.xml
  data/db_demo.yaml
Labels: demo-data

#2736 Photometric Series (model)
  alembic/versions/e83ca47380d0_photometric_series.py
  requirements.txt
  skyportal/enum_types.py
  skyportal/models/assignment.py
  skyportal/models/followup_request.py
  skyportal/models/group.py
  skyportal/models/group_joins.py
  skyportal/models/instrument.py
  skyportal/models/obj.py
  skyportal/models/photometry.py
  skyportal/models/stream.py
  skyportal/models/user_token.py
Labels: dependencies, migration

#3091 Update config to provide defaults where possible, otherwise use `cfg.get`
  config.yaml.defaults
  skyportal/enum_types.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/slack.py
  skyportal/handlers/api/annotation_services.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/spectrum.py
  skyportal/handlers/api/user.py
  skyportal/handlers/api/weather.py
  skyportal/handlers/base.py
  skyportal/initial_setup.py
  skyportal/model_util.py
  skyportal/models/obj.py
  skyportal/models/user_notification.py
  skyportal/tests/utils/test_cosmology.py
  skyportal/utils/cosmology.py
  skyportal/utils/offset.py
  skyportal/utils/thumbnail.py
Labels: config-change

#3131 Add handler to update batches of objects with new PhotStats
  alembic/versions/c8063723c76e_phot_stat_predetection_array.py
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/phot_stat.py
  skyportal/models/phot_stat.py
  skyportal/tests/api/test_phot_stats.py
  skyportal/tests/frontend/test_profile.py
Labels: dependencies, migration

#3147 Galaxies Catalog - Added galaxies within event 190814
  data/CLU_mini.hdf5
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/flaky/test_galaxy_flaky.py
  skyportal/tests/flaky/test_gcnevents_flaky.py
Labels: demo-data

#3150 Updated GroupsSelect.jsx imports to MUI5
  static/js/components/GroupsSelect.jsx
Labels: bugfix

#3134 [Analysis Epic] (3) Webhook callback
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_models.yaml
  alembic/versions/f44a21fe8375_upgrade_webhook.py
  config.yaml.defaults
  requirements.txt
  services/sn_analysis_service/app.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/analysis.py
  skyportal/handlers/api/webhook.py
  skyportal/models/analysis.py
  skyportal/tests/api/test_analysis.py
  test_config.yaml
Labels: dependencies, migration, config-change, workflows

#3101 Telescope Handler - Performance Improvements and Bugfix
  skyportal/handlers/api/telescope.py
  static/js/components/TelescopeInfo.jsx
Labels: bugfix

#3116 Notifications: More notification types, more settings per notification type
  skyportal/enum_types.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/config_handler.py
  skyportal/models/user_notification.py
  skyportal/tests/frontend/test_notifications.py
  skyportal/tests/frontend/test_slack.py
  static/js/components/GcnNoticeTypesSelect.jsx
  static/js/components/NotificationPreferences.jsx
  static/js/components/NotificationSettingsSelect.jsx
  static/js/components/SlackPreferences.jsx
  static/js/components/UpdateProfileForm.jsx
Labels: enhancement

#3154 Refactor simsurvey to split analysis and plotting
  alembic/versions/5b756b18ff2d_simsurvey_split.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/survey_efficiency.py
  skyportal/models/__init__.py
  skyportal/models/gcn.py
  skyportal/models/group_joins.py
  skyportal/models/localization.py
  skyportal/models/observation_plan.py
  skyportal/models/survey_efficiency.py
  skyportal/models/user_token.py
  static/js/components/AddSurveyEfficiencyObservationPlanPage.jsx
  static/js/components/AddSurveyEfficiencyObservationsPage.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/NewAPIObservation.jsx
  static/js/components/NewAPIQueuedObservation.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/SurveyEfficiencyForm.jsx
  static/js/components/SurveyEfficiencyObservationPlanLists.jsx
  static/js/components/SurveyEfficiencyObservationsLists.jsx
  static/js/ducks/survey_efficiency_observation_plans.js
  static/js/ducks/survey_efficiency_observations.js
Labels: migration

#3157 try to finish off material-ui
  package.json
  skyportal/tests/frontend/test_user_management.py
  static/js/components/InviteNewGroupUserForm.jsx
  static/js/components/Main.jsx.template
  static/js/components/UserInvitations.jsx
  static/js/components/UserManagement.jsx
Labels: dependencies

#3159 eslint fix
  package.json
Labels: dependencies
