Repository skyportal/skyportal, pull requests merged in 2022-12, with the labels that each got.

#3662 Updating and correcting the Adding New Features Tutorial (Docs)
  doc/adding_features.md
Labels: enhancement, documentation

#3690 Speedup observation plan statistics
  alembic/versions/daa47fc45f4d_index_instruments_and_plans.py
  data/db_demo.yaml
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/observation.py
  skyportal/models/instrument.py
  skyportal/models/observation_plan.py
  skyportal/tests/api/test_gcn.py
Labels: migration, demo-data

#3738 Fix a couple more DBSession instances
  doc/dev.md
  doc/query_analysis.md
  skyportal/onboarding.py
Labels: documentation

#3740 Allocation contacts
  alembic/versions/68a2e8e8e027_allocation_users.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/telescope.py
  skyportal/models/allocation.py
  static/js/components/AllocationPage.jsx
  static/js/components/NewAllocation.jsx
  static/js/components/TelescopeInfo.jsx
Labels: migration

#3745 Instrument comments
  .github/workflows/test_api_and_frontend.yaml
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/instrument.py
  static/js/components/CommentEntry.jsx
  static/js/instrumentTrie.js
Labels: workflows

#3749 Generic follow-up API
  alembic/versions/9f6032c799a9_generic_enum.py
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/generic.py
Labels: migration, demo-data

#3746 Generic observation plan distribution
  data/db_demo.yaml
  doc/followup.md
  requirements.txt
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/growth_india.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/observation_plan.py
  static/js/components/LocalizationPlot.jsx
  static/js/components/ObservationPlanRequestLists.jsx
Labels: documentation, dependencies, needs-migration?, demo-data

#3750 Facility API enum
  alembic/versions/9f2563d6c9b5_growth_india.py
Labels: migration

#3747 Default follow-up requests
  alembic/versions/fddf75137a30_default_followup.py
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/kait.py
  skyportal/facility_apis/lco.py
  skyportal/facility_apis/lt.py
  skyportal/facility_apis/nicer.py
  skyportal/facility_apis/ps1.py
  skyportal/facility_apis/sedm.py
  skyportal/facility_apis/sedmv2.py
  skyportal/facility_apis/swift.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/followup_request.py
  skyportal/models/allocation.py
  skyportal/models/followup_request.py
  skyportal/models/schema.py
  skyportal/models/user_token.py
  static/js/actions.js
  static/js/components/FollowupRequestPage.jsx
  static/js/components/NewDefaultFollowupRequest.jsx
  static/js/ducks/default_followup_requests.js
Labels: migration, demo-data

#3753 DefaultFollowupRequestHandler Issue: Str instead of Dict (JSONB)
  skyportal/handlers/api/followup_request.py
Labels: bugfix

#3754 Download tests fail
  .github/workflows/test_api_and_frontend.yaml
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/flaky/test_ztf_gaia_backup_flaky.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_gcn.py
  skyportal/tests/frontend/test_notifications.py
Labels: workflows

#3766 Material / material-icon versions
  package.json
Labels: dependencies

#3763 Source scanning and classification voting
  alembic/versions/f3647e87b69f_labelling.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/classification.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/source_labels.py
  skyportal/models/__init__.py
  skyportal/models/classification.py
  skyportal/models/group.py
  skyportal/models/source_label.py
  skyportal/tests/api/test_classifications.py
  skyportal/tests/api/test_sources.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/ConfirmDeletionDialog.jsx
  static/js/components/ShowClassification.jsx
  static/js/components/SourceTable.jsx
  static/js/components/SourceTableFilterForm.jsx
  static/js/ducks/source.js
  static/js/ducks/sources.js
Labels: migration

#3773 Observation plan ToO
  data/db_demo.yaml
  skyportal/facility_apis/sedmv2.py
  skyportal/handlers/api/followup_request.py
Labels: demo-data

#3778 Follow-up request update notifications
  alembic/versions/2064509f3e08_request_watchers.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/source.py
  skyportal/models/followup_request.py
  skyportal/models/user_notification.py
  static/js/components/FollowupRequestLists.jsx
  static/js/components/NewDefaultFollowupRequest.jsx
  static/js/components/NotificationPreferences.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/WatcherButton.jsx
  static/js/ducks/followup_requests.js
Labels: migration

#3776 Spatial catalog
  alembic/versions/e10fa2a9e71d_spatial_catalog.py
  config.yaml.defaults
  data/db_demo.yaml
  data/gll_psc_v27.csv
  doc/index.rst
  doc/spatial_catalog.md
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/spatial_catalog.py
  skyportal/models/__init__.py
  skyportal/models/schema.py
  skyportal/models/spatial_catalog.py
  skyportal/tests/api/test_spatial_catalog.py
  skyportal/tests/data/gll_psc_v27_small.csv
  skyportal/utils/gcn.py
  static/js/components/NewSpatialCatalog.jsx
  static/js/components/SourceTableFilterForm.jsx
  static/js/components/SpatialCatalogPage.jsx
  static/js/components/SpatialCatalogTable.jsx
  static/js/ducks/sources.js
  static/js/ducks/spatialCatalogs.js
Labels: documentation, migration, config-change, demo-data
