Repository skyportal/skyportal, pull requests merged in 2022-10, with the labels that each got.

#3535 Sample reference flux data
  data/ZTFrlh6cyjh_phot.csv
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
Labels: demo-data

#3557 update dask/distributed
  requirements.txt
Labels: dependencies, needs-migration?

#3560 Move follow-up requests to own doc page
  doc/followup.md
  doc/index.rst
  doc/mma.md
Labels: documentation

#3568 Ingest Swift alerts
  alembic/versions/065726baac98_swift_alert.py
  config.yaml.defaults
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/data/SWIFT_1125809-092.xml
  skyportal/tests/data/SWIFT_1125809-104.xml
  skyportal/utils/gcn.py
  static/js/components/LocalizationPlot.jsx
Labels: migration, config-change

#3566 Display fits file in comment preview
  requirements.txt
  skyportal/handlers/api/comment.py
  skyportal/utils/fits_display.py
  static/js/components/CommentAttachmentPreview.jsx
Labels: dependencies, needs-migration?

#3572 Add examples for introducing extensions
  doc/extensions.md
  doc/index.rst
Labels: documentation

#3584 Better Slack and Email Notifications: GCN Events and Sources
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
  skyportal/models/user_notification.py
  skyportal/tests/frontend/test_notifications.py
  skyportal/utils/notifications.py
Labels: enhancement

#3585 Winter telescope and instruments
  data/instruments.yaml
  data/telescopes.yaml
Labels: demo-data

#3598 basic spectra analysis
  config.yaml.defaults
  data/db_demo.yaml
  requirements.txt
  services/ngsf_analysis_service/app.py
  services/ngsf_analysis_service/parameters.json
  services/ngsf_analysis_service/supervisor.conf
Labels: dependencies, config-change, needs-migration?, demo-data

#3612 Add plot of moon phase to allocation summary
  data/db_demo.yaml
  skyportal/handlers/api/allocation.py
Labels: demo-data

#3623 Calculate plan statistics async
  alembic/versions/765363c68b5b_observation_plan_statistics.py
  skyportal/app_server.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/observation_plan.py
  static/js/components/ObservationPlanRequestLists.jsx
Labels: migration
