Repository skyportal/skyportal, pull requests merged in 2022-07, with the labels that each got.

#3193 Add analysis page
  config.yaml.defaults
  skyportal/handlers/api/analysis.py
  skyportal/handlers/api/enum_types.py
  static/js/components/AnalysisServicePage.jsx
  static/js/components/NewAnalysisService.jsx
  static/js/ducks/analysis_services.js
Labels: config-change

#3151 Use newer version of postgres in default compose
  docker-compose.yaml
Labels: docker

#3209 Add more models for survey efficiency assessment
  requirements.txt
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/utils/simsurvey.py
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/SurveyEfficiencyForm.jsx
  static/js/components/SurveyEfficiencyObservationPlanLists.jsx
Labels: dependencies, needs-migration?

#3204 Selenium 4.3
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_models.yaml
  requirements.txt
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_db_stats.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/frontend/test_notifications.py
  skyportal/tests/frontend/test_profile.py
  skyportal/tests/frontend/test_shifts.py
Labels: dependencies, needs-migration?, workflows

#3226 Only grab sources and galaxies upon request
  data/ZTFinGCN_phot.csv
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
Labels: demo-data

#3149 [Analysis Epic] (4) Analysis products
  doc/analysis.md
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/analysis.py
  skyportal/models/analysis.py
  skyportal/tests/api/test_analysis.py
Labels: documentation, dependencies, needs-migration?

#3236 Add index to the LocalizationTile table
  alembic/versions/2ea665ed5e0d_localizationtable_index.py
  skyportal/models/localization.py
Labels: migration

#3240 Turn off IGWN events by default
  config.yaml.defaults
Labels: config-change

#3241 Enable posting skymap from moc
  data/ZTF20abwysqy_phot.csv
  data/db_demo.yaml
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/api/test_sources.py
Labels: demo-data

#3268 WIP: Update docs for Postgres 14 requirement
  doc/setup.md
Labels: documentation

#3277 Add react-transition-group to package.json.
  package.json
Labels: dependencies
