Repository skyportal/skyportal, pull requests merged in 2022-03, with the labels that each got.

#2683 Executed observation page
  config.yaml.defaults
  doc/mma.md
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/schema.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/api/test_observation.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/api/test_sources.py
  skyportal/tests/conftest.py
  skyportal/tests/data/sample_observation_data_upload.csv
  skyportal/tests/data/sample_observation_data_upload_malformed.csv
  skyportal/tests/data/sample_observation_data_upload_noseeing.csv
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_count.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_data_management.py
  skyportal/tests/frontend/test_favorites_page.py
  skyportal/tests/frontend/test_gcnevents.py
  skyportal/tests/frontend/test_invitations.py
  skyportal/tests/frontend/test_newsfeed.py
  skyportal/tests/frontend/test_scanning_page.py
  skyportal/tests/frontend/test_upload_observations.py
  skyportal/tests/frontend/test_upload_photometry.py
  skyportal/tests/frontend/test_user_management.py
  static/js/components/AllocationPage.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/ManageDataForm.jsx
  static/js/components/NewObservation.jsx
  static/js/components/ObservationPage.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/ducks/observations.js
Labels: documentation, config-change

#2731 update npm/geckodriver
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  requirements.txt
Labels: dependencies, needs-migration?, workflows

#2733 Update node version in Dockerfile
  Dockerfile
Labels: docker

#2684 Download button for observation plan draft GCN
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/observation_plan.py
  skyportal/tests/frontend/test_gcnevents.py
  static/js/components/ObservationPlanRequestLists.jsx
Labels: dependencies, needs-migration?

#2500 PS1 DR2 API access
  alembic/versions/33ef976ca10f_ps1_migration.py
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/ps1.py
  skyportal/handlers/api/followup_request.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/conftest.py
  skyportal/tests/flaky/test_followup_requests_flaky.py
  test_config.yaml
Labels: migration, config-change, demo-data

#2423 Swift TOO Form
  alembic/versions/ca2e59a85ff4_swift_enum.py
  config.yaml.defaults
  data/db_demo.yaml
  data/tests/test_server_recordings_static.yaml
  doc/index.rst
  doc/mma.md
  requirements.txt
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/swift.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/flaky/test_followup_requests_flaky.py
  test_config.yaml
Labels: documentation, dependencies, migration, config-change, demo-data

#2697 Make observation plan GIF
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation_plan.py
  static/js/components/ObservationPlanRequestLists.jsx
Labels: config-change

#2724 Introduce ExecutedObservation retrieval from an External API
  doc/mma.md
  skyportal/app_server.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation.py
  skyportal/models/schema.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/frontend/test_gcnevents.py
  static/js/components/NewAPIObservation.jsx
  static/js/components/ObservationPage.jsx
  static/js/ducks/observations.js
Labels: documentation

#2738 Add a follow-up request page
  config.yaml.defaults
  skyportal/handlers/api/followup_request.py
  skyportal/tests/api/test_followup_requests_api.py
  skyportal/tests/flaky/test_frontend_flaky.py
  static/js/actions.js
  static/js/components/FollowupRequestLists.jsx
  static/js/components/FollowupRequestPage.jsx
  static/js/components/FollowupRequestSelectionForm.jsx
  static/js/ducks/followup_requests.js
Labels: config-change

#2687 TreasureMap plugin
  alembic/versions/dc7f29329a89_treasuremap.py
  config.yaml.defaults
  data/db_demo.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/gcn.py
  skyportal/models/instrument.py
  skyportal/services/test_server/test_api_server.py
  skyportal/tests/flaky/test_frontend_flaky.py
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/ducks/gcnEvent.js
  test_config.yaml
Labels: migration, config-change, demo-data

#2752 Add pyupgrade to pre-commit checks
  .pre-commit-config.yaml
  doc/conf.py
  skyportal/__init__.py
  skyportal/app_server.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/kait.py
  skyportal/facility_apis/slack.py
  skyportal/handlers/api/group.py
  skyportal/handlers/api/internal/profile.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/spectrum.py
  skyportal/handlers/api/sysinfo.py
  skyportal/handlers/api/user.py
  skyportal/models/gcn.py
  skyportal/models/instrument.py
  skyportal/models/observation_plan.py
  skyportal/models/schema.py
  skyportal/onboarding.py
  skyportal/openapi.py
  skyportal/tests/api/test_bokeh_plots.py
  skyportal/tests/api/test_candidates.py
  skyportal/tests/api/test_spectrum.py
  skyportal/tests/conftest.py
  skyportal/tests/flaky/test_followup_requests_flaky.py
  skyportal/tests/frontend/test_about_page.py
  skyportal/tests/frontend/test_filters.py
  skyportal/tests/frontend/test_quick_search.py
  skyportal/tests/utils/test_spectrum_ascii_reader.py
  skyportal/utils/gcn.py
  skyportal/utils/gitlog.py
  skyportal/utils/offset.py
  tools/data_loader.py
  tools/prepare_seed_data.py
Labels: documentation, formatting-and-linting

#2735 Display names of users in options when uploading a spectra
  data/db_demo.yaml
  static/js/components/UploadSpectrum.jsx
Labels: demo-data

#2750 Add Instrument modification to the Instrument Page
  alembic/versions/3244123109f7_instrument_region.py
  skyportal/app_server.py
  skyportal/enum_types.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/enum_types.py
  skyportal/handlers/api/instrument.py
  skyportal/models/instrument.py
  skyportal/tests/api/test_enum_types.py
  static/js/actions.js
  static/js/components/InstrumentPage.jsx
  static/js/components/ModifyInstrument.jsx
  static/js/components/NewInstrument.jsx
  static/js/ducks/enum_types.js
  static/js/ducks/instrument.js
Labels: migration

#2754 Enable ingestion of observations by RA/Dec
  alembic/versions/486c860564a2_instrument_field_sequence.py
  data/sample_observation_data_radec.csv
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation.py
  skyportal/models/instrument.py
  skyportal/tests/api/test_observation.py
  skyportal/tests/flaky/test_frontend_flaky.py
  static/js/components/NewAPIObservation.jsx
Labels: migration, demo-data

#2758 enable galaxy-targeting
  data/db_demo.yaml
  requirements.txt
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/slack.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/api/test_galaxy.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/flaky/test_frontend_flaky.py
Labels: dependencies, needs-migration?, demo-data

#2746 Ztf forced photometry
  config.yaml.defaults
  doc/mma.md
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/ps1.py
  skyportal/facility_apis/ztf.py
Labels: documentation, config-change

#2763 Bump sncosmo to 2.8
  alembic/versions/f4b399aae2_sncosmo_2p8_migration.py
  config.yaml.defaults
  requirements.txt
Labels: dependencies, migration, config-change

#2769 allow other time input options for ExecutedObservations
  data/sample_observation_data_isot.csv
  doc/mma.md
  skyportal/handlers/api/observation.py
  skyportal/tests/api/test_observation.py
  static/js/components/ObservationPage.jsx
Labels: documentation, demo-data

#2757 Add dropdown menus grouping similar tasks to sidebar
  config.yaml.defaults
  static/js/components/SidebarAndHeader.jsx.template
Labels: config-change

#2777 Fix doc requirements
  requirements.docs.txt
Labels: dependencies

#2775 Add Rubin example
  data/LSST_Fields.csv
  data/db_demo.yaml
  skyportal/handlers/api/instrument.py
Labels: demo-data

#2782 add demo data for object in Fermi map
  data/ZTFinGCN_phot.csv
  data/db_demo.yaml
Labels: demo-data

#2784 upgrade black
  requirements.txt
Labels: dependencies, needs-migration?

#2786 try pinning click too
  requirements.txt
Labels: dependencies, needs-migration?

#2792 Github vs. Black
  .pre-commit-config.yaml
  skyportal/handlers/api/internal/plot.py
  skyportal/tests/api/test_bokeh_plots.py
Labels: formatting-and-linting

#2783 basic TNS submission
  alembic/versions/0bc55992eb50_tns.py
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/tns.py
  skyportal/models/__init__.py
  skyportal/models/group.py
  skyportal/models/instrument.py
  skyportal/models/tns.py
  skyportal/tests/api/test_tnsrobots.py
  static/js/actions.js
  static/js/components/ManageDataForm.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSSpectraForm.jsx
  static/js/ducks/source.js
  static/js/ducks/spectra.js
  static/js/ducks/tnsrobots.js
Labels: migration, config-change
