Repository skyportal/skyportal, pull requests merged in 2022-11, with the labels that each got.

#3624 Source notifications (email/slack): Issue when photstats are missing
  skyportal/utils/notifications.py
Labels: bug

#3647 dask / distributed 2022.10.2
  requirements.txt
Labels: dependencies, needs-migration?

#3650 ZTF backup test
  package.json
  skyportal/tests/utils/test_ztf_gaia_backup.py
Labels: dependencies

#3655 E(B-V) on source page
  config.yaml.defaults
  requirements.txt
  skyportal/handlers/api/source.py
  skyportal/models/obj.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: dependencies, config-change, needs-migration?

#3651 Default survey efficiencies
  alembic/versions/43306550c9d0_default_survey_efficiencies.py
  data/db_demo.yaml
  services/gcn_service/gcn_service.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/survey_efficiency.py
  skyportal/models/observation_plan.py
  skyportal/models/schema.py
  skyportal/models/survey_efficiency.py
  skyportal/tests/api/test_default_observation_plan.py
  static/js/actions.js
  static/js/components/AllocationPage.jsx
  static/js/components/NewDefaultObservationPlan.jsx
  static/js/components/NewDefaultSurveyEfficiency.jsx
  static/js/ducks/default_survey_efficiencies.js
Labels: migration, demo-data

#3660 Dustmap download try-except
  requirements.txt
  skyportal/models/obj.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: dependencies, needs-migration?

#3658 Allocation request summary page
  config.yaml.defaults
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/followup_request.py
  skyportal/models/followup_request.py
  static/js/components/AllocationPage.jsx
  static/js/components/AllocationSummary.jsx
Labels: config-change

#3664 Drop dependency on aplpy (unused)
  requirements.txt
Labels: dependencies, needs-migration?

#3665 Observation plan error handling
  data/ZTF_Square_Region.reg
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation_plan.py
  static/js/actions.js
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/ducks/observationPlans.js
Labels: demo-data

#3646 updating bokeh
  package.json
  requirements.txt
  skyportal/plot.py
  skyportal/tests/api/test_bokeh_plots.py
  skyportal/tests/api/test_spectrum.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_bokeh_plots_frontend.py
  skyportal/tests/frontend/test_favorites_page.py
  skyportal/tests/utils/test_ztf_gaia_backup.py
  static/js/components/BokehModels.js
  static/js/components/Plot.jsx
Labels: dependencies, needs-migration?

#3661 WIP: update react-hook-form
  .eslintrc.yaml
  package.json
  skyportal/tests/frontend/sources_and_followup_etc/test_assignments.py
  skyportal/tests/frontend/sources_and_followup_etc/test_observing_planner.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/frontend/test_scanning_page.py
  skyportal/tests/frontend/test_upload_photometry.py
  static/js/components/AddUsersFromGroupForm.jsx
  static/js/components/AssignmentForm.jsx
  static/js/components/CandidatesPreferencesForm.jsx
  static/js/components/ClassificationsShortcutForm.jsx
  static/js/components/CommentEntry.jsx
  static/js/components/EditSourceGroups.jsx
  static/js/components/FilterCandidateList.jsx
  static/js/components/FindingChart.jsx
  static/js/components/GcnPropertiesSelect.jsx
  static/js/components/GroupFiltersStreams.jsx
  static/js/components/ManageDataForm.jsx
  static/js/components/NewTokenForm.jsx
  static/js/components/Periodogram.jsx
  static/js/components/PhotometryButtonsForm.jsx
  static/js/components/SaveCandidateButton.jsx
  static/js/components/SourceNotification.jsx
  static/js/components/SourceTableFilterForm.jsx
  static/js/components/UpdateProfileForm.jsx
  static/js/components/UploadPhotometry.jsx
  static/js/components/UserInvitations.jsx
  static/js/components/UserManagement.jsx
  static/js/components/WidgetPrefsDialog.jsx
Labels: dependencies, formatting-and-linting

#3673 check for is_admin in user
  .pre-commit-config.yaml
  skyportal/handlers/api/source.py
Labels: formatting-and-linting

#3676 Add source in GCN comment
  alembic/versions/85e5b0be85a2_gcn_status_explanation.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/models/sources_confirmed_in_gcn.py
  static/js/components/ConfirmSourceInGCN.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/SourceTable.jsx
Labels: migration

#3680 Explanation GCN column
  alembic/versions/46c79f9b64e5_explanation_migration.py
Labels: migration

#3682 Localization properties
  alembic/versions/61f6f65746da_localization_properties.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/internal/recent_gcn_events.py
  skyportal/models/gcn.py
  skyportal/models/localization.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_gcn.py
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnEvents.jsx
  static/js/components/GcnEventsFilterForm.jsx
  static/js/components/GcnTags.jsx
  static/js/components/RecentGcnEvents.jsx
  static/js/ducks/localizationProperties.js
Labels: migration

#3694 Dustmap Docker
  Dockerfile
Labels: docker

#3695 Telescope observability map
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/observation_plan.py
  static/js/components/ObservationPlanRequestForm.jsx
Labels: dependencies, needs-migration?

#3696 Earthquake country
  alembic/versions/f870b311df53_earthquake_country.py
  skyportal/handlers/api/earthquake.py
  skyportal/models/earthquake.py
  skyportal/tests/utils/test_earthquake_utils.py
  skyportal/utils/earthquake.py
  static/js/components/EarthquakeInfo.jsx
Labels: migration

#3698 pin py3-validate-email to 1.0.5
  .github/workflows/test_migrations.yaml
  requirements.txt
Labels: dependencies, needs-migration?, workflows

#3272 GCN Events - Add new Names/Aliases from Notices/Circulars
  alembic/versions/8bd7883f99bd_gcn_tach.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn_tach.py
  skyportal/models/gcn.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/frontend/test_gcn.py
  static/js/components/EarthquakePage.jsx
  static/js/components/EarthquakesPage.jsx
  static/js/components/GcnAliases.jsx
  static/js/components/GcnCirculars.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnEvents.jsx
  static/js/components/MMADetectorPage.jsx
  static/js/components/Source.jsx
  static/js/components/TelescopePage.jsx
  static/js/ducks/gcnEvent.js
Labels: migration
