Repository skyportal/skyportal, pull requests merged in 2022-08, with the labels that each got.

#3279 Simulate efficiencies for skymaps without distance information
  requirements.txt
  skyportal/handlers/api/observation_plan.py
Labels: dependencies, needs-migration?

#3276 GCN Server - Upgrade to GCN Kafka
  config.yaml.defaults
  requirements.txt
  services/gcn_service/gcn_service.py
  skyportal/enum_types.py
Labels: dependencies, config-change, needs-migration?

#3266 Sources in GCN Events - Confirm or Reject a Source
  alembic/versions/ef7f7859dbba_confirm_reject_sources_in_gcn.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/model_util.py
  skyportal/models/__init__.py
  skyportal/models/obj.py
  skyportal/models/sources_confirmed_in_gcn.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/frontend/test_gcn.py
  static/js/components/ConfirmSourceInGCN.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/confirmedsourcesingcn.js
  static/js/ducks/source.js
  static/js/ducks/sources.js
Labels: migration

#3303 New PhotStat index
  alembic/versions/fccc7e78c7aa_phot_stat_mean_color_index.py
  skyportal/models/phot_stat.py
Labels: migration

#3311 GMOS repeated in instruments file
  data/instruments.yaml
Labels: demo-data

#3096 WIP: reminders
  alembic/versions/675d41c71a2b_reminders.py
  services/reminders/reminders.py
  services/reminders/supervisor.conf
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/reminder.py
  skyportal/models/__init__.py
  skyportal/models/gcn.py
  skyportal/models/group_joins.py
  skyportal/models/obj.py
  skyportal/models/reminder.py
  skyportal/models/shift.py
  skyportal/models/spectrum.py
  skyportal/models/user_token.py
  skyportal/services/test_server/supervisor.conf
  skyportal/tests/api/test_gcn.py
  skyportal/tests/api/test_reminders.py
  skyportal/tests/flaky/test_gcnevents_flaky.py
  skyportal/tests/frontend/test_reminders.py
  static/js/components/GcnEventPage.jsx
  static/js/components/Reminders.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/SourceDesktop.jsx
  static/js/ducks/reminders.js
Labels: migration

#3321 Misspelled filter in instruments.yaml
  data/instruments.yaml
Labels: demo-data

#3307 [Analysis Epic] Individual analysis page
  config.yaml.defaults
  skyportal/handlers/api/analysis.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/AnalysisForm.jsx
  static/js/components/SourceAnalysisPage.jsx
  static/js/ducks/source.js
Labels: config-change

#3335 Update docs for Mac AMD (M1/M2) setup
  doc/setup.md
Labels: documentation

#3332 Revert webhook session
  requirements.txt
  skyportal/handlers/api/webhook.py
  skyportal/tests/api/test_analysis.py
Labels: dependencies, needs-migration?

#3330 Add troubleshooting line about Macs and Airplay Receiver
  doc/setup.md
Labels: documentation

#3107 Standardized button component/documentation
  doc/images/async_button.gif
  doc/images/buttons.png
  doc/styling.md
  static/js/components/Button.jsx
  static/js/components/Theme.jsx
Labels: documentation

#3381 Update react-markdown
  package.json
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/CommentListMobile.jsx
  static/js/components/CompactCommentList.jsx
  static/js/components/NewsFeed.jsx
  static/js/components/Notifications.jsx
  static/js/components/RegularCommentList.jsx
Labels: dependencies

#3380 Upgrade marshmallow_sqlalchemy
  requirements.txt
  skyportal/models/schema.py
Labels: dependencies, needs-migration?

#3392 Enable SWIFT XRT API access
  config.yaml.defaults
  data/db_demo.yaml
  doc/mma.md
  skyportal/facility_apis/swift.py
Labels: documentation, config-change, demo-data

#3393 Add Swift filters to demo data
  data/db_demo.yaml
  data/instruments.yaml
Labels: demo-data

#3397 Add neutrino tags
  data/AMON.xml
  data/db_demo.yaml
  skyportal/utils/gcn.py
Labels: demo-data

#3403 Add ability to get LCO images from archive
  config.yaml.defaults
  doc/mma.md
  skyportal/facility_apis/lco.py
Labels: documentation, config-change

#3395 Enable posting of Swift observations
  alembic/versions/17fc6557b7ad_swift_data.py
  data/Swift_Region.reg
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/swift.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/observation.py
  skyportal/models/observation.py
  static/js/components/ExecutedObservationsTable.jsx
Labels: migration, demo-data

#3401 Add GW Detectors
  alembic/versions/2c856b2845f2_mmadetectors.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/enum_types.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/mmadetector.py
  skyportal/models/__init__.py
  skyportal/models/gcn.py
  skyportal/models/mmadetector.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/api/test_mmadetector.py
  static/js/actions.js
  static/js/components/MMADetectorInfo.jsx
  static/js/components/MMADetectorMap.jsx
  static/js/components/MMADetectorPage.jsx
  static/js/components/MMADetectorPageDesktop.jsx
  static/js/components/MMADetectorPageMobile.jsx
  static/js/components/NewMMADetector.jsx
  static/js/ducks/mmadetector.js
Labels: migration, config-change, demo-data
