Repository skyportal/skyportal, pull requests merged in 2023-03, with the labels that each got.

#4009 healpix-alchemy 1.0.2
  requirements.txt
  skyportal/handlers/api/gcn.py
  skyportal/utils/gcn.py
Labels: dependencies, needs-migration?

#4011 gwemopt 0.0.80
  requirements.txt
Labels: dependencies, needs-migration?

#4015 mocpy 0.12.3
  requirements.txt
  skyportal/utils/gcn.py
Labels: dependencies, needs-migration?

#4022 pysedm update
  requirements.txt
Labels: dependencies, needs-migration?

#4027 Update documentation for creating and using summaries & AI Summarization
  doc/analysis.md
Labels: documentation

#4018 Observation type for SEDMv2
  data/db_demo.yaml
  skyportal/facility_apis/sedmv2.py
  skyportal/handlers/api/followup_request.py
Labels: demo-data

#4028 Docs typo
  doc/analysis.md
Labels: documentation

#4031 sncosmo cache
  Dockerfile
Labels: docker

#4035 Webpack 5.76.0
  package.json
Labels: dependencies

#4039 Vega zoom bugfix
  package.json
Labels: dependencies, bugfix

#4044 User-specific OpenAI preferences
  config.yaml.defaults
  requirements.txt
  services/openai_analysis_service/app.py
  skyportal/handlers/api/analysis.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/internal/profile.py
  skyportal/tests/frontend/test_openai_prefs.py
  static/js/components/AnalysisForm.jsx
  static/js/components/CustomizeOpenAIParameters.jsx
  static/js/components/FollowupRequestPreferences.jsx
  static/js/components/NotificationSettingsSelect.jsx
  static/js/components/OpenAIPreferences.jsx
  static/js/components/StartBotSummary.jsx
Labels: dependencies, config-change, needs-migration?

#4053 Follow-up request form
  data/db_demo.yaml
  static/js/components/FollowupRequestPage.jsx
  static/js/components/FollowupRequestSelectionForm.jsx
Labels: demo-data

#4054 Add GCN Tags
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/gcn.py
  skyportal/models/schema.py
  static/js/components/AddGcnTag.jsx
  static/js/components/GcnTags.jsx
  static/js/components/RecentGcnEvents.jsx
  static/js/ducks/gcnTags.js
Labels: config-change

#4057 Fix SEDM follow-up requests tests
  skyportal/tests/api/test_allocations.py
  skyportal/tests/api/test_followup_requests_api.py
  skyportal/tests/api/test_followup_requests_reprioritize.py
  skyportal/tests/api/test_sources.py
Labels: bugfix

#4055 GcnEvent: SkyMap manual reingestion + avoid repetitive API calls from frontend
  alembic/versions/661b661633b3_notice_localization.py
  doc/adding_features.md
  services/gcn_service/gcn_service.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
  skyportal/models/localization.py
  skyportal/models/user_notification.py
  skyportal/tests/api/test_gcn.py
  skyportal/utils/gcn.py
  static/js/components/AddCatalogQueryPage.jsx
  static/js/components/AddSurveyEfficiencyObservationPlanPage.jsx
  static/js/components/AddSurveyEfficiencyObservationsPage.jsx
  static/js/components/CatalogQueryForm.jsx
  static/js/components/GcnEventAllocationTriggers.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/GcnSummary.jsx
  static/js/components/LocalizationPlot.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/SurveyEfficiencyForm.jsx
  static/js/ducks/annotations.js
  static/js/ducks/gcnEvent.js
  static/js/ducks/localization.js
Labels: enhancement, documentation, migration, bugfix

#4045 Notification Queue - multiple GCN notifications
  config.yaml.defaults
  services/notification_queue/notification_queue.py
  services/notification_queue/supervisor.conf
  skyportal/handlers/api/internal/profile.py
  skyportal/models/user_notification.py
  skyportal/services/test_server/supervisor.conf
  skyportal/tests/frontend/test_notifications.py
  skyportal/utils/gcn.py
  static/js/components/GcnNoticeTypesSelect.jsx
  static/js/components/GcnPropertiesSelect.jsx
  static/js/components/GcnTagsSelect.jsx
  static/js/components/LocalizationPropertiesSelect.jsx
  static/js/components/LocalizationTagsSelect.jsx
  static/js/components/NotificationGcnEvent.jsx
  static/js/components/NotificationPreferences.jsx
  static/js/components/SelectWithChips.jsx
Labels: config-change

#4061 Bugfix: incorrect indentation in Gaia annotation handler
  skyportal/handlers/api/annotation_services.py
Labels: bugfix

#4060 Follow-up requests: missing SEDM defaults + re-submit on failure
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/sedm.py
  skyportal/handlers/api/followup_request.py
  static/js/components/EditFollowupRequestDialog.jsx
  static/js/components/FollowupRequestLists.jsx
Labels: enhancement

#4064 Bugfix: Incorrect instrument form type showing on GCN Page
  static/js/components/FollowupRequestForm.jsx
  static/js/components/NewAPIObservation.jsx
  static/js/components/NewAPIQueuedObservation.jsx
  static/js/components/NewDefaultFollowupRequest.jsx
  static/js/components/NewDefaultObservationPlan.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/QueueAPIDisplay.jsx
  static/js/ducks/instruments.js
Labels: bugfix

#4065 Bugfix: Microservices not loaded in production
  services/gcn_service/gcn_service.py
  services/recurring_apis/recurring_apis.py
  services/reminders/reminders.py
Labels: bugfix

#4068 SEDMv2: one request at a time
  data/db_demo.yaml
  skyportal/facility_apis/sedmv2.py
Labels: demo-data

#4073 Instruments: has_fields and has_region flag
  alembic/versions/2eb1e05411c5_instrument_has_fields_regions.py
  skyportal/handlers/api/instrument.py
  skyportal/models/instrument.py
Labels: migration
