Repository skyportal/skyportal, pull requests merged in 2023-12, with the labels that each got.

#4669 Analysis - Input Filters
  alembic/versions/93a04c1fb3a7_analysis_input_filters.py
  skyportal/handlers/api/analysis.py
  skyportal/models/analysis.py
  static/js/components/AnalysisForm.jsx
  static/js/components/SourceAnalysisPage.jsx
Labels: migration, needs-migration?

#4675 Finderchart - PS1 fallback
  skyportal/utils/offset.py
Labels: enhancement

#4676 Forced Photometry - Data sharing bugfix
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/ps1.py
  skyportal/facility_apis/tess.py
  skyportal/facility_apis/ztf.py
Labels: needs-migration?

#4667 Remove duplicate timestamps from analysis photometry
  skyportal/handlers/api/analysis.py
Labels: needs-migration?

#4677 Forced Photometry Form - dynamic date range
  static/js/components/FollowupRequestForm.jsx
Labels: needs-migration?

#4679 Insert photometry bugfix - no error when no rows are uploaded
  skyportal/handlers/api/photometry.py
Labels: needs-migration?

#4678 GitHub actions: PostgreSQL 15
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
Labels: needs-migration?

#4681 Follow-up request schema: add missing optional constraint field
  skyportal/models/schema.py
Labels: needs-migration?

#4680 Thumbnails ingestion - Simpler & (hopefully) better
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  services/observation_plan_queue/observation_plan_queue.py
  services/recurring_apis/recurring_apis.py
  services/reminders/reminders.py
  services/thumbnail_queue/thumbnail_queue.py
  services/watch_list/watch_list.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/models/obj.py
  skyportal/utils/offset.py
  skyportal/utils/services.py
  skyportal/utils/thumbnail.py
Labels: config-change, needs-migration?

#4684 PS1 url SSL error
  skyportal/utils/offset.py
Labels: needs-migration?

#4685 Log rather than raise exception when PS1 does not work
  skyportal/utils/offset.py
Labels: needs-migration?
