Repository skyportal/skyportal, pull requests merged in 2023-04, with the labels that each got.

#4095 Number of fields in Instrument table
  package.json
  skyportal/handlers/api/instrument.py
  skyportal/models/instrument.py
  static/js/components/InstrumentTable.jsx
Labels: dependencies

#4097 apispec 4.7.1
  requirements.txt
  skyportal/handlers/api/analysis.py
  skyportal/handlers/api/group.py
  skyportal/handlers/api/user_obj_list.py
Labels: dependencies, needs-migration?

#4098 Missing type in classification docstring
  Makefile
  requirements.txt
  skyportal/handlers/api/classification.py
  tools/openapi/requirements.txt
Labels: dependencies, needs-migration?

#4099 Custom Engine args
  skyportal/app_server.py
Labels: bugfix

#4096 Queuify observation plans
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  services/observation_plan_queue/observation_plan_queue.py
  services/observation_plan_queue/supervisor.conf
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/services/test_server/supervisor.conf
  skyportal/tests/api/test_default_observation_plan.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/utils/gcn.py
Labels: config-change

#4103 Bugfix: make load_demo_data
  requirements.txt
Labels: dependencies, needs-migration?

#4105 Candidate Scanning: GCN-based filtering
  skyportal/handlers/api/candidate.py
  static/js/components/FilterCandidateList.jsx
Labels: enhancement

#4102 Shifts: Lighter API responses
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/group.py
  skyportal/handlers/api/shift.py
  skyportal/models/shift.py
  skyportal/tests/api/test_shifts.py
  skyportal/tests/frontend/test_shifts.py
  static/js/components/CommentList.jsx
  static/js/components/CompactCommentList.jsx
  static/js/components/DeleteComment.jsx
  static/js/components/EditComment.jsx
  static/js/components/FollowupRequestLists.jsx
  static/js/components/NewShift.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/RegularCommentList.jsx
  static/js/components/ShiftCalendar.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/ShiftSummary.jsx
  static/js/ducks/shift.js
  static/js/ducks/shifts.js
Labels: enhancement

#4109 simplejson 3.19.1
  requirements.txt
  skyportal/tests/api/test_gcn.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/api/test_photometry.py
  tools/data_loader.py
Labels: dependencies, needs-migration?

#4113 Migrations GA: Pin commit with dataloader bugfix
  .github/workflows/test_migrations.yaml
Labels: bugfix, workflows

#4112 WIP: Find fields with gwemopt configurable + minor quality of life improvements
  config.yaml.defaults
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/gcn_tach.py
  skyportal/handlers/api/observation_plan.py
  skyportal/model_util.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/frontend/test_gcn.py
  skyportal/utils/gcn.py
  static/js/components/GcnAliases.jsx
  static/js/components/GcnEventAllocationTriggers.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnLocalizationsTable.jsx
  static/js/components/GcnProperties.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/GcnSummary.jsx
  static/js/components/GcnTags.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/gcnEvent.js
Labels: enhancement, config-change, bugfix

#4110 Localizations in persistentdata
  alembic/versions/d2fadb29175f_localization_attachments.py
  config.yaml.defaults
  skyportal/handlers/api/gcn.py
  skyportal/models/comment.py
  skyportal/models/localization.py
  skyportal/utils/files.py
  skyportal/utils/gcn.py
  static/js/components/GcnLocalizationsTable.jsx
Labels: migration, config-change

#4118 Source Page classification: Avoid errors when config colors aren't fetched yet.
  static/js/components/ShowClassification.jsx
Labels: bugfix

#4121 Notification Queue: Multi-threading
  .gitignore
  services/notification_queue/notification_queue.py
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/models/user_notification.py
Labels: enhancement, bugfix

#4125 Default plan boolean
  alembic/versions/47a76ff0f3ce_default_plan.py
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/observation_plan.py
Labels: migration

#4126 Several frontend improvements and bugfixes
  skyportal/handlers/api/allocation.py
  skyportal/utils/gcn.py
  static/js/components/AllocationPage.jsx
  static/js/components/ConfirmSourceInGCN.jsx
  static/js/components/ModifyAllocation.jsx
  static/js/components/NewShift.jsx
  static/js/components/ShiftManagement.jsx
Labels: enhancement, bugfix

#4127 Pin gwemopt to new release, avoid submitting plans with duplicate queue names
  requirements.txt
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/handlers/api/observation_plan.py
Labels: enhancement, dependencies

#4129 Localization plot: Mollweide projection and bugfix
  package.json
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/LocalizationPlot.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/ducks/localization.js
Labels: dependencies

#4108 LocalizationTile: Partitioned Table for performance
  alembic/versions/fdab0cc9eb78_localizationtilepartitions.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/models/localization.py
Labels: enhancement, migration

#4142 Plotting preferences: Temporarely deactivate all origins fetching
  skyportal/tests/frontend/test_profile.py
  static/js/components/OriginSelect.jsx
Labels: bug

#4128 Caching: Instrument fields & localization overlap query
  config.yaml.defaults
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
Labels: config-change

#4146 InstrumentFieldTile: no index on instrument id
  alembic/versions/47d84da106c4_remove_instrumentid_index.py
  skyportal/models/instrument.py
Labels: migration

#4148 GCN Event ingestion: Filter by tags
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  static/js/components/AssignmentList.jsx
Labels: config-change

#4153 SEDM-v2 - Remove exposure counts
  data/db_demo.yaml
  skyportal/facility_apis/generic.py
  skyportal/facility_apis/sedmv2.py
Labels: demo-data
