Repository skyportal/skyportal, pull requests merged in 2023-09, with the labels that each got.

#4488 Observation planning - Use references, better frontend.
  config.yaml.defaults
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_observation_plan.py
  static/js/components/FollowupRequestLists.jsx
  static/js/components/LocalizationPlot.jsx
  static/js/components/NewShift.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/RunSummary.jsx
Labels: config-change

#4487 instrument and stream IDs for TNS submission
  alembic/versions/bc7afebe918f_tnsrobot_autoreport_instruments_and_.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/tns.py
  skyportal/models/instrument.py
  skyportal/models/stream.py
  skyportal/models/tns.py
  skyportal/utils/tns.py
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobots.jsx
  static/js/components/TNSSpectraForm.jsx
Labels: migration

#4516 Deploy docs v4
  .github/workflows/build-and-deploy-docs.yaml
Labels: workflows

#4517 pydantic / langchain
  requirements.txt
Labels: dependencies, needs-migration?

#4538 Github actions: pin postgres version
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
Labels: workflows

#4545 added issue templates (copied from Fritz with slight modification)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: workflows

#4546 TNS - various improvements
  data/db_demo.yaml
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/tns.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/frontend/sources_and_followup_etc/test_group_sources.py
  static/js/components/DisplayPhotStats.jsx
  static/js/components/Filter.jsx
  static/js/components/ShowClassification.jsx
  static/js/components/SourceTable.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobots.jsx
Labels: demo-data
