Repository skyportal/skyportal, pull requests merged in 2023-06, with the labels that each got.

#4294 gwemopt 0.1.X
  requirements.txt
  skyportal/facility_apis/observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_observation_plan.py
Labels: dependencies, needs-migration?

#4342 Thumbnail queue
  config.yaml.defaults
  services/thumbnail_queue/supervisor.conf
  services/thumbnail_queue/thumbnail_queue.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/models/obj.py
  skyportal/services/test_server/supervisor.conf
  skyportal/utils/thumbnail.py
Labels: config-change

#4359 Mac image analysis instructions
  doc/image_analysis.md
  skyportal/handlers/api/internal/image_analysis.py
  static/js/components/ImageAnalysisForm.jsx
Labels: documentation

#4361 Instrument Status
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  alembic/versions/655e76025488_instrument_status.py
  package.json
  skyportal/app_server.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/sedmv2.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/instrument_log.py
  skyportal/models/instrument.py
  static/js/components/InstrumentSummary.jsx
  static/js/components/JsonDashboard.jsx
  static/js/ducks/instrument.js
Labels: dependencies, migration, workflows

#4367 Obsplan bugfix: Incorrect max_nb_tiles parameter
  skyportal/facility_apis/observation_plan.py
Labels: bugfix

#4366 TNS Monitoring
  config.yaml.defaults
  services/tns_queue/tns_queue.py
  skyportal/handlers/api/tns.py
  skyportal/utils/calculations.py
  skyportal/utils/tns.py
  static/js/units.js
Labels: config-change

#4373 Saturation to image form
  data/db_demo.yaml
  doc/image_analysis.md
  skyportal/handlers/api/internal/image_analysis.py
  static/js/components/ImageAnalysisForm.jsx
Labels: documentation, demo-data

#4376 FacilityTransaction queue: bugfixes
  services/facility_queue/facility_queue.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/ztf.py
  static/js/components/FollowupRequestForm.jsx
  static/js/components/FollowupRequestLists.jsx
Labels: bugfix

#4389 sncosmo migrations: GOTO bandpasses
  alembic/versions/14b7c22343de_goto_filters.py
  skyportal/handlers/api/source.py
Labels: migration

#4392 separate tns retrieval and submission queues
  config.yaml.defaults
  services/tns_queue/supervisor.conf
  services/tns_retrieval_queue/supervisor.conf
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/supervisor.conf
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/tns.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  skyportal/utils/tns.py
Labels: config-change

#4400 TNS submission queue port: Change to something an api instance wouldn't use
  config.yaml.defaults
Labels: config-change
