Repository skyportal/skyportal, pull requests merged in 2023-02, with the labels that each got.

#3908 Only make plan for fields in localization
  requirements.txt
  skyportal/facility_apis/observation_plan.py
  skyportal/tests/api/test_observation_plan.py
Labels: dependencies, needs-migration?

#3911 rjsf5
  package.json
  skyportal/tests/frontend/sources_and_followup_etc/test_observing_planner.py
  skyportal/tests/frontend/test_scanning_page.py
  skyportal/tests/frontend/test_upload_spectroscopy.py
  static/js/components/AnalysisForm.jsx
  static/js/components/CandidateList.jsx
  static/js/components/CatalogQueryForm.jsx
  static/js/components/ClassificationForm.jsx
  static/js/components/EarthquakePredictionForm.jsx
  static/js/components/EditFollowupRequestDialog.jsx
  static/js/components/FollowupRequestForm.jsx
  static/js/components/FollowupRequestPrioritizationForm.jsx
  static/js/components/FollowupRequestSelectionForm.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/ImageAnalysisForm.jsx
  static/js/components/ModifyAllocation.jsx
  static/js/components/ModifyInstrument.jsx
  static/js/components/ModifyTaxonomy.jsx
  static/js/components/NewAPIObservation.jsx
  static/js/components/NewAPIQueuedObservation.jsx
  static/js/components/NewAllocation.jsx
  static/js/components/NewAnalysisService.jsx
  static/js/components/NewDefaultFollowupRequest.jsx
  static/js/components/NewDefaultObservationPlan.jsx
  static/js/components/NewDefaultSurveyEfficiency.jsx
  static/js/components/NewEarthquake.jsx
  static/js/components/NewGalaxy.jsx
  static/js/components/NewGcnEvent.jsx
  static/js/components/NewInstrument.jsx
  static/js/components/NewMMADetector.jsx
  static/js/components/NewObservation.jsx
  static/js/components/NewObservingRun.jsx
  static/js/components/NewPhotometry.jsx
  static/js/components/NewRecurringAPI.jsx
  static/js/components/NewShift.jsx
  static/js/components/NewSource.jsx
  static/js/components/NewSpatialCatalog.jsx
  static/js/components/NewTaxonomy.jsx
  static/js/components/NewTelescope.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/Reminders.jsx
  static/js/components/ShiftSummary.jsx
  static/js/components/SurveyEfficiencyForm.jsx
  static/js/components/SyntheticPhotometryForm.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSSpectraForm.jsx
  static/js/components/UploadSpectrum.jsx
  static/js/components/UserInvitations.jsx
  static/js/components/UserManagement.jsx
Labels: dependencies

#3915 Update install doc & bump packages
  doc/setup.md
Labels: documentation

#3920 LocalizationTile index
  alembic/versions/dbbeed743db3_localization_index.py
  skyportal/models/localization.py
  skyportal/tests/frontend/test_upload_spectroscopy.py
Labels: migration

#3923 persist comments
  config.yaml.defaults
  skyportal/handlers/api/comment.py
Labels: config-change

#3929 MAXI events
  config.yaml.defaults
Labels: config-change

#3922 bump arviz version; fix some marshmallow warnings
  requirements.txt
  skyportal/models/schema.py
Labels: dependencies, needs-migration?

#3918 Upload-only Analysis
  config.yaml.defaults
  doc/analysis.md
  package.json
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/analysis.py
  skyportal/handlers/api/webhook.py
  skyportal/models/analysis.py
  skyportal/tests/api/test_analysis.py
Labels: documentation, dependencies, config-change

#3946 Update shape of GROWTH-India FOV
  data/GROWTH-India_Fields.csv.bz2
  data/db_demo.yaml
  tools/data_loader.py
Labels: demo-data

#3954 WINTER to demo data
  data/WINTER_Fields.csv.bz2
  data/db_demo.yaml
  skyportal/handlers/api/shift.py
  skyportal/tests/frontend/test_individual_spectra.py
  skyportal/tests/frontend/test_new_source.py
  skyportal/tests/frontend/test_shifts.py
Labels: demo-data

#3930 Photometric series API
  alembic/versions/c276f6343274_improved_photometric_series.py
  config.yaml.defaults
  requirements.txt
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/photometric_series.py
  skyportal/models/__init__.py
  skyportal/models/group_joins.py
  skyportal/models/obj.py
  skyportal/models/photometric_series.py
  skyportal/models/photometry.py
  skyportal/models/stream.py
  skyportal/tests/api/test_photometric_series.py
  skyportal/tests/conftest.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_favorites_page.py
  skyportal/tests/frontend/test_individual_spectra.py
  skyportal/tests/frontend/test_new_source.py
  skyportal/tests/frontend/test_notifications.py
  skyportal/tests/frontend/test_shifts.py
  skyportal/tests/frontend/test_upload_spectroscopy.py
  skyportal/utils/hdf5_files.py
Labels: dependencies, migration, config-change

#3958 spectrum upload test
  package.json
  static/js/components/UploadSpectrum.jsx
Labels: dependencies

#3970 Comments attachments: Better fits file preview
  skyportal/handlers/api/comment.py
  skyportal/utils/fits_display.py
  static/js/components/CommentAttachmentPreview.jsx
Labels: enhancement

#3959 Default Analysis
  alembic/versions/e268e17ca352_default_analysis.py
  data/db_demo.yaml
  skyportal/app_server.py
  skyportal/enum_types.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/analysis.py
  skyportal/models/analysis.py
  skyportal/models/group_joins.py
  skyportal/tests/api/test_analysis.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  skyportal/tests/frontend/test_shifts.py
Labels: enhancement, migration, demo-data
