Repository skyportal/skyportal, pull requests merged in 2023-01, with the labels that each got.

#3804 Remove jsonschema-to-openapi
  requirements.txt
  skyportal/facility_apis/_base.py
Labels: dependencies, needs-migration?

#3825 Gcn Summary table
  alembic/versions/1bf960dd68db_gcn_summary.py
  skyportal/app_server.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/gcn_tach.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/gcn.py
  skyportal/models/group.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_gcn.py
  skyportal/tests/frontend/test_gcn.py
  static/js/components/GcnSummary.jsx
  static/js/components/GcnSummaryTable.jsx
  static/js/ducks/gcnEvent.js
Labels: migration

#3832 gwemopt 0.0.77
  requirements.txt
  skyportal/facility_apis/observation_plan.py
  skyportal/tests/api/test_observation_plan.py
Labels: dependencies, needs-migration?

#3192 Image analysis
  Dockerfile
  config.yaml.defaults
  doc/image_analysis.md
  doc/index.rst
  skyportal/app_server.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/internal/__init__.py
  skyportal/handlers/api/internal/image_analysis.py
  static/js/components/ImageAnalysisForm.jsx
  static/js/components/ImageAnalysisPage.jsx
  static/js/components/SourceDesktop.jsx
  static/js/ducks/source.js
Labels: documentation, config-change, docker

#3320 Comment attachment : store on disk
  alembic/versions/99c470d77682_comments_attachments_on_disk.py
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/comment_attachment.py
  skyportal/models/comment.py
  skyportal/tests/api/test_comments.py
  static/js/components/CommentEntry.jsx
  static/js/components/DeleteComment.jsx
  static/js/components/EditComment.jsx
  static/js/components/RegularCommentList.jsx
  static/js/ducks/gcnEvent.js
  static/js/ducks/shift.js
  static/js/ducks/source.js
Labels: migration, config-change

#3850 bump version numbers to sync with baselayer requirements
  doc/conf.py
  doc/setup.md
Labels: documentation

#3849 Filter based on GCN properties
  alembic/versions/fa832ea0ee8d_loc_notifications.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/gcn.py
  skyportal/models/observation_plan.py
  skyportal/utils/gcn.py
  static/js/components/DefaultObservationPlanTable.jsx
  static/js/components/NewDefaultObservationPlan.jsx
Labels: migration

#3859 taxonomies page improvement
  data/db_demo.yaml
  static/js/components/TaxonomyPage.jsx
  static/js/components/TaxonomyTable.jsx
Labels: demo-data

#3862 Run Docker GA for PRs with "docker" label
  .github/workflows/test_docker_build.yaml
Labels: docker, workflows

#3861 Dockerfile - Uncommented SNID and STDPipe dependencies
  Dockerfile
Labels: docker

#3863 Fix issue with Docker workflow on push
  .github/workflows/test_docker_build.yaml
Labels: docker, workflows

#3851 Recurring API calls
  alembic/versions/82edc4878f70_recurring_apis.py
  config.yaml.defaults
  services/recurring_apis/recurring_apis.py
  services/recurring_apis/supervisor.conf
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/recurring_api.py
  skyportal/model_util.py
  skyportal/models/__init__.py
  skyportal/models/recurring_api.py
  skyportal/models/user_token.py
  skyportal/services/test_server/supervisor.conf
  skyportal/tests/api/test_recurring_api.py
  static/js/components/NewRecurringAPI.jsx
  static/js/components/RecurringAPIPage.jsx
  static/js/ducks/recurring_apis.js
Labels: migration, config-change

#3864 Photometry annotations
  alembic/versions/3aa873458eb7_phot_annotations.py
  skyportal/app_server.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/annotation.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/models/annotation.py
  skyportal/models/group_joins.py
  skyportal/models/obj.py
  skyportal/models/photometry.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_annotations_on_photometry.py
Labels: migration

#3873 astroscrappy
  requirements.txt
Labels: dependencies, needs-migration?

#3879 stdpipe
  requirements.txt
Labels: dependencies, needs-migration?

#3882 Fix Gcn Event notification
  skyportal/models/user_notification.py
Labels: bugfix

#3878 DECam instrumental sensitivity
  data/db_demo.yaml
Labels: demo-data
