Repository skyportal/skyportal, pull requests merged in 2023-05, with the labels that each got.

#4147 Summary Search API
  requirements.txt
  services/openai_analysis_service/app.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/summary_query.py
  skyportal/tests/api/test_query.py
  skyportal/tests/api/test_summary_query.py
Labels: dependencies, needs-migration?

#4176 Dask/Distributed 2023.4.1
  requirements.txt
Labels: dependencies, needs-migration?

#4177 sncosmo 2.10
  alembic/versions/97266d7af6e7_sncosmo_2p10_migration.py
  requirements.txt
Labels: dependencies, migration

#4178 ExecutedObservation table indices
  alembic/versions/a8318144625d_executed_observations_index.py
  skyportal/models/observation.py
Labels: migration

#4154 Observations in Localization query: use caching
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation.py
  static/js/components/GcnEvents.jsx
  static/js/components/GcnEventsFilterForm.jsx
  static/js/components/GcnPropertiesSelect.jsx
  static/js/components/GcnSummary.jsx
  static/js/components/LocalizationPropertiesSelect.jsx
  static/js/components/ObservationPlanRequestForm.jsx
Labels: enhancement

#4180 Annotations info caching
  config.yaml.defaults
  skyportal/handlers/api/internal/annotations_info.py
  skyportal/tests/frontend/test_scanning_page.py
  skyportal/utils/cache.py
  static/js/components/CandidateList.jsx
  static/js/components/CandidatesPreferences.jsx
  static/js/components/FilterCandidateList.jsx
  test_config.yaml
Labels: enhancement, config-change

#4185 Frontend Search Summary Query
  config.yaml.defaults
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/summary_query.py
  skyportal/tests/api/test_query.py
  skyportal/tests/api/test_summary_query.py
  static/js/components/ShowSummaries.jsx
  static/js/components/SummarySearch.jsx
  static/js/ducks/summary.js
Labels: config-change

#4189 Pin tiktoken==0.3.3
  requirements.txt
Labels: dependencies, needs-migration?

#4191 AuxTel info
  data/db_demo.yaml
  skyportal/handlers/api/instrument.py
Labels: demo-data

#4199 Phot series folder: Docker
  Dockerfile
Labels: docker

#4204 Manage data is really share data
  config.yaml.defaults
  static/js/components/ShareDataForm.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: config-change

#4212 Object host
  alembic/versions/59c6db1df47f_host_galaxy.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/models/galaxy.py
  skyportal/models/obj.py
  skyportal/models/sources_confirmed_in_gcn.py
  skyportal/models/user_token.py
  skyportal/tests/api/test_galaxy.py
  static/js/components/ConfirmSourceInGCN.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/source.js
  static/js/ducks/sources.js
Labels: migration

#4217 NED galaxy columns
  alembic/versions/5afbab3b73c4_ned.py
  skyportal/handlers/api/galaxy.py
  skyportal/models/galaxy.py
  static/js/components/GalaxyTable.jsx
Labels: migration

#4215 GraceDB plots
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/catalog_services.py
  skyportal/handlers/api/earthquake.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/gcn_gracedb.py
  static/js/components/GcnEventPage.jsx
  static/js/ducks/gcnEvent.js
Labels: config-change

#4234 Pin kapsule
  package.json
Labels: dependencies

#4236 Minor Planet Center query
  alembic/versions/1f45fc716f66_mpc.py
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/mpc.py
  skyportal/models/obj.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/components/UpdateSourceMPC.jsx
  static/js/ducks/source.js
  static/js/units.js
Labels: migration, config-change

#4195 Watchlist
  alembic/versions/2a5480c47f09_listing_params.py
  data/db_demo.yaml
  services/notification_queue/notification_queue.py
  services/watch_list/supervisor.conf
  services/watch_list/watch_list.py
  skyportal/handlers/api/alert.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/user_obj_list.py
  skyportal/models/listing.py
Labels: migration, demo-data

#4241 Instrument configuration
  alembic/versions/77788b2b56b2_instrument_conf.py
  data/db_demo.yaml
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/instrument.py
  skyportal/models/instrument.py
  static/js/components/CommentList.jsx
  static/js/components/ModifyInstrument.jsx
  static/js/components/NewInstrument.jsx
  static/js/components/UIPreferences.jsx
Labels: migration, demo-data

#4246 TNS submission: Make sure last non-detection is before first detection
  skyportal/handlers/api/tns.py
Labels: bugfix

#4245 Reference images
  alembic/versions/999d3be6482f_references.py
  data/DECam_Ref.csv
  data/ZTF_Ref.csv
  data/db_demo.yaml
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/tns.py
  skyportal/models/instrument.py
  static/js/components/InstrumentTable.jsx
  static/js/components/NewInstrument.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
Labels: migration, demo-data

#4248 GCN Ingestion: Skip retractions if the event doesn't exist in the DB
  services/gcn_service/gcn_service.py
Labels: enhancement

#4255 Significant tag
  config.yaml.defaults
  skyportal/utils/gcn.py
  static/js/components/GcnEvents.jsx
  static/js/components/GcnTags.jsx
Labels: config-change

#4262 OpenAI 0.27.7
  requirements.txt
Labels: dependencies, needs-migration?

#4252 Async TNS handler
  alembic/versions/f027c37fabed_tns.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/handlers/api/tns.py
  skyportal/models/obj.py
  static/js/components/DisplayTNSInfo.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/components/UpdateSourceTNS.jsx
  static/js/components/UploadPhotometry.jsx
  static/js/ducks/source.js
Labels: migration

#4270 Object host index
  alembic/versions/38f9789d2dff_host_index.py
  skyportal/models/obj.py
Labels: migration

#4250 In-out for an individual source
  alembic/versions/6f23bbeb119d_gcn_crossmatch.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/mpc.py
  skyportal/models/obj.py
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/UpdateSourceGCNCrossmatch.jsx
  static/js/ducks/source.js
Labels: migration

#4274 GCN down revision
  alembic/versions/6f23bbeb119d_gcn_crossmatch.py
Labels: migration

#4282 treasuremap link
  config.yaml.defaults
Labels: config-change

#4279 auto-tns reporting
  alembic/versions/0a4e98db3bcb_tns_robot_auto.py
  services/tns_queue/tns_queue.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/tns.py
  skyportal/models/tns.py
  skyportal/utils/tns.py
  static/js/components/UpdateSourceTNS.jsx
Labels: migration

#4289 Split API tests in 2 parts
  .github/workflows/test_api_and_frontend.yaml
  skyportal/tests/api/candidates_sources_events/test_annotations.py
  skyportal/tests/api/candidates_sources_events/test_bulk_delete_photometry.py
  skyportal/tests/api/candidates_sources_events/test_candidates.py
  skyportal/tests/api/candidates_sources_events/test_classifications.py
  skyportal/tests/api/candidates_sources_events/test_default_observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_filters.py
  skyportal/tests/api/candidates_sources_events/test_followup_requests_api.py
  skyportal/tests/api/candidates_sources_events/test_followup_requests_reprioritize.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/api/candidates_sources_events/test_obj_photometry.py
  skyportal/tests/api/candidates_sources_events/test_objs.py
  skyportal/tests/api/candidates_sources_events/test_observation.py
  skyportal/tests/api/candidates_sources_events/test_observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_observing_runs.py
  skyportal/tests/api/candidates_sources_events/test_phot_stats.py
  skyportal/tests/api/candidates_sources_events/test_photometric_series.py
  skyportal/tests/api/candidates_sources_events/test_photometry.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  skyportal/tests/api/candidates_sources_events/test_streams.py
  skyportal/tests/api/candidates_sources_events/test_tnsrobots.py
Labels: workflows

#4291 GraceDB logs / labels
  alembic/versions/cdfb7edc7438_gracedb.py
  config.yaml.defaults
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/gcn_gracedb.py
  skyportal/models/gcn.py
  static/js/components/DisplayGraceDB.jsx
  static/js/components/GcnAliases.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/ObservationPlanRequestForm.jsx
Labels: migration, config-change

#4283 TESS alerts
  alembic/versions/b2aadcb864d1_tess_alerts.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/tess.py
  skyportal/handlers/api/catalog_services.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/photometric_series.py
  skyportal/utils/tns.py
  static/js/components/CatalogQueryForm.jsx
  static/js/components/FollowupRequestForm.jsx
Labels: migration, config-change, demo-data

#4293 Galaxy GCN summary
  alembic/versions/0e9932f8b83e_galaxy_w1_w2_w3_w4.py
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation.py
  skyportal/models/galaxy.py
  skyportal/models/localization.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/api/test_galaxy.py
Labels: migration

#4297 Add classification origin column
  alembic/versions/e2273768afa4_add_classification_origin.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/handlers/api/classification.py
  skyportal/models/classification.py
  skyportal/tests/api/candidates_sources_events/test_classifications.py
  static/js/components/ClassificationList.jsx
  static/js/components/ShowClassification.jsx
Labels: migration, config-change, demo-data

#4288 Treasure map filters fix
  data/db_demo.yaml
  data/tests/test_server_recordings_static.yaml
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/source.py
  skyportal/services/test_server/test_api_server.py
  static/js/components/GcnSelectionForm.jsx
  static/js/components/NewInstrument.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  test_config.yaml
Labels: config-change, demo-data
