Repository skyportal/skyportal, pull requests merged in 2023-11, with the labels that each got.

#4595 Flaky tests
  .github/workflows/test_api_and_frontend.yaml
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/external/test_annotation_services.py
  skyportal/tests/external/test_catalog_services.py
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/flaky/test_gcn_flaky.py
  skyportal/tests/flaky/test_observation_plan.py
  skyportal/tests/flaky/test_radial_query.py
  skyportal/tests/frontend/sources_and_followup_etc/test_source_list.py
  tools/data_loader.py
Labels: workflows

#4617 GitHub actions: migrate to nodejs version 20.X
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_docker_build.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  Dockerfile
Labels: docker, workflows

#4618 Dockerfile: system dependencies install fix
  Dockerfile
Labels: docker

#4620 Follow-up requests: various improvements
  .github/workflows/test_api_and_frontend.yaml
  data/db_demo.yaml
  services/notification_queue/notification_queue.py
  skyportal/app_server.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/generic.py
  skyportal/facility_apis/kait.py
  skyportal/facility_apis/lco.py
  skyportal/facility_apis/lt.py
  skyportal/facility_apis/nicer.py
  skyportal/facility_apis/ps1.py
  skyportal/facility_apis/sedm.py
  skyportal/facility_apis/sedmv2.py
  skyportal/facility_apis/slack.py
  skyportal/facility_apis/swift.py
  skyportal/facility_apis/tess.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/annotation_services.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/photometry_request.py
  skyportal/tests/external/test_annotation_services.py
  skyportal/tests/external/test_catalog_services.py
  skyportal/tests/external/test_followup_requests_flaky.py
  skyportal/tests/frontend/sources_and_observingruns_etc/__init__.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_assignments.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_group_sources.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_observing_planner.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_recent_sources.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_source_count.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_source_list.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_top_sources.py
  skyportal/tests/frontend/test_notifications.py
  static/js/components/EditFollowupRequestDialog.jsx
  static/js/components/FollowupRequestForm.jsx
  static/js/components/FollowupRequestLists.jsx
  static/js/components/FollowupRequestPage.jsx
  static/js/components/FollowupRequestSelectionForm.jsx
  static/js/components/SourceAnnotationButtons.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceTable.jsx
  static/js/components/WatcherButton.jsx
  static/js/ducks/followup_requests.js
  static/js/ducks/source.js
Labels: demo-data, workflows

#4625 docs action
  .github/workflows/build-and-deploy-docs.yaml
Labels: workflows

#4638 GCN summary - acknowledgments in config
  config.yaml.defaults
  skyportal/enum_types.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/gcn.py
  static/js/components/GcnSummary.jsx
Labels: config-change

#4642 GA bugfix: pycurl system dependencies
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
Labels: workflows
