Repository skyportal/skyportal, pull requests merged in 2023-07, with the labels that each got.

#4425 distributed / dask 2023.6.1
  requirements.txt
Labels: dependencies, needs-migration?

#4426 Update workflows from python 3.8 to 3.9
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_docker_build.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  Dockerfile
Labels: docker, workflows

#4427 Bump to node.js 18
  Dockerfile
Labels: docker

#4430 Add telescope summary page
  config.yaml.defaults
  skyportal/handlers/api/telescope.py
  static/js/components/AllocationTable.jsx
  static/js/components/InstrumentTable.jsx
  static/js/components/TelescopeInfo.jsx
  static/js/components/TelescopeSummary.jsx
  static/js/components/WeatherWidget.jsx
  static/js/ducks/weather.js
Labels: config-change

#4432 Catalog queries: Use kowalski's new skymap endpoint + better frontend
  requirements.txt
  skyportal/handlers/api/catalog_services.py
  skyportal/utils/catalog.py
  static/js/components/AddCatalogQueryPage.jsx
  static/js/components/CatalogQueryLists.jsx
  static/js/ducks/gcnEvent.js
Labels: dependencies, needs-migration?

#4434 Photstats full update: bugfix
  skyportal/models/phot_stat.py
Labels: bugfix

#4436 Dockerfile: add screen
  .github/workflows/test_docker_build.yaml
  Dockerfile
Labels: docker, workflows

#4437 Candidates list: Sorting bugfix + order annotations alphabetically
  static/js/components/CandidateList.jsx
  static/js/components/ScanningPageCandidateAnnotations.jsx
Labels: enhancement, bugfix

#4375 WIP: publish event
  alembic/versions/42f18fbf914d_gcn_report.py
  config.yaml.defaults
  package.json
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/public/__init__.py
  skyportal/handlers/public/report.py
  skyportal/models/gcn.py
  skyportal/models/group.py
  skyportal/models/user_token.py
  static/js/components/GcnReport.jsx
  static/js/components/GcnReportEdit.jsx
  static/js/components/GcnReportTable.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/ducks/gcnEvent.js
  static/reports/gcn_report.html
  static/reports/gcn_reports.html
  static/reports/reports.css
Labels: dependencies, migration, config-change

#4438 Highlight retraction
  config.yaml.defaults
Labels: config-change

#4442 Obsplan queue refactor
  alembic/versions/849e70f9a857_combined_plans.py
  data/db_demo.yaml
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/instrument.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_observation_plan.py
  static/js/components/AddSurveyEfficiencyObservationPlanPage.jsx
  static/js/components/ObservationPlanRequestLists.jsx
Labels: migration, demo-data

#4441 ML-based classifications
  alembic/versions/0620901b0a2d_classification_ml.py
  data/db_demo.yaml
  skyportal/handlers/api/classification.py
  skyportal/handlers/api/source.py
  skyportal/models/classification.py
  skyportal/models/gcn.py
  skyportal/tests/frontend/sources_and_followup_etc/test_sources.py
  static/js/components/CandidateList.jsx
  static/js/components/ClassificationForm.jsx
  static/js/components/ClassificationList.jsx
  static/js/components/ShowClassification.jsx
  static/js/components/SourceTableFilterForm.jsx
  static/js/components/TopSources.jsx
  static/js/components/UIPreferences.jsx
Labels: migration, demo-data

#4445 Frontend caching fix: routes lazy loading
  skyportal/tests/frontend/test_user.py
  static/js/components/CommentEntry.jsx
  static/js/components/CommentListMobile.jsx
  static/js/components/EarthquakePage.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/Main.jsx.template
  static/js/components/OriginSelect.jsx
  static/js/components/ShareDataForm.jsx
  static/js/components/ShiftManagement.jsx
  static/js/components/ShiftPage.jsx
  static/js/components/SourceDesktop.jsx
  webpack.config.js
Labels: Frontend experts
