Repository skyportal/skyportal, pull requests merged in 2024-04, with the labels that each got.

#4857 TNS Robots management: sort group users, groups, and coauthors alphabetically
  static/js/components/TNSRobotsPage.jsx
  static/js/components/TransferList.jsx
Labels: needs-migration?

#4858 TNS submission service(s) bugfix
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/tns.py
  static/js/components/TNSRobotSubmissionsPage.jsx
Labels: needs-migration?

#4838 Issue allocation comments
  alembic/versions/77c4af61eea6_followuprequests_add_comments.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/followup_request.py
  skyportal/models/followup_request.py
  skyportal/tests/api/test_allocations.py
  skyportal/tests/frontend/test_allocation.py
  static/js/components/AllocationSummary.jsx
  static/js/ducks/allocation.js
Labels: enhancement, migration, needs-migration?, frontend, backend

#4862 GitHub actions: back on track (part 1)
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/photometric_series.py
  skyportal/tests/api/candidates_sources_events/test_photometric_series.py
  skyportal/tests/api/test_comments_on_gcn.py
  skyportal/tests/api/test_comments_on_spectrum.py
  skyportal/tests/api/test_thumbnail.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_scanning_page.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_top_sources.py
  skyportal/tests/frontend/test_reminders.py
  skyportal/tests/frontend/test_shifts.py
Labels: needs-migration?

#4863 Spectra plot: keep zoom level after layout updated
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/models/instrument.py
  skyportal/models/stream.py
  static/js/components/SpectraPlot.jsx
Labels: needs-migration?

#4865 use latest ligo.skymap
  requirements.txt
Labels: dependencies, needs-migration?

#4866 TRT ids for cancelling need to be an array
  skyportal/facility_apis/trt.py
Labels: needs-migration?

#4868 TNS submissions DBSession bugfix
  services/tns_submission_queue/tns_submission_queue.py
Labels: needs-migration?

#4867 Source Page Coordinates: adjusted using photometry
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/obj.py
  static/js/components/Source.jsx
  static/js/ducks/source.js
Labels: needs-migration?

#4871 NewPhotometry ISOT date input - bugfix
  static/js/components/NewPhotometry.jsx
Labels: bugfix, needs-migration?

#4812 Edit Source Coordinates: update thumbnails
  skyportal/handlers/api/source.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  skyportal/tests/api/test_thumbnail.py
Labels: needs-migration?

#4802 Sources Handler: make get_sources_experimental the new default
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_source_list.py
  skyportal/utils/offset.py
Labels: needs-migration?

#4870 Issue 4819 gcn events too much white space
  skyportal/handlers/api/gcn.py
  static/js/components/GcnEvents.jsx
Labels: needs-migration?

#4874 Astropy 6.0 breaking changes: MaskedArray -> MaskedNDArray
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/telescope.py
  skyportal/models/telescope.py
Labels: needs-migration?

#4873 update Vega vs AB in photometry table
  skyportal/handlers/api/obj.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  static/js/components/PhotometryTable.jsx
  static/js/components/UpdatePhotometry.jsx
  static/js/ducks/photometry.js
Labels: needs-migration?

#4875 Astropy 6.0 - Observing run ephemeris bugfix
  skyportal/handlers/api/observingrun.py
Labels: needs-migration?

#4877 page_num cast for classifications
  skyportal/handlers/api/classification.py
Labels: needs-migration?

#4879 TNS submissions pagination
  static/js/ducks/tnsrobots.js
Labels: needs-migration?

#4881 TNS Submission: "report not found"
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/utils/tns.py
Labels: needs-migration?

#4883 Swift triggers: priority 0
  skyportal/facility_apis/swift.py
Labels: needs-migration?

#4886 manual plan upload
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#4887 field ID in manual plan
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#4885 Obj Coordinates update: thumbnails delete permission fix
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources.py
  skyportal/utils/asynchronous.py
  static/js/ducks/source.js
Labels: needs-migration?

#4876 ObservingRunHandler GET: handle rise/set vectorized masked array
  skyportal/handlers/api/observingrun.py
Labels: needs-migration?

#4888 Gaia columns
  skyportal/handlers/api/annotation_services.py
  static/js/components/CommentEntry.jsx
  static/js/components/EditComment.jsx
Labels: needs-migration?

#4890 SourcesConfirmedInGCN: don't validate sources spatially
  skyportal/handlers/api/sources_confirmed_in_gcn.py
Labels: needs-migration?

#4893 priority threshold
  skyportal/handlers/api/followup_request.py
  static/js/components/FollowupRequestSelectionForm.jsx
Labels: needs-migration?

#4889 No detections in the source queries
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources.py
  static/js/API.js
  static/js/components/FilterCandidateList.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/SourceTable.jsx
  static/js/ducks/sources.js
Labels: needs-migration?

#4894 TNS submission - 504 (gateway timeout)
  services/tns_submission_queue/tns_submission_queue.py
Labels: needs-migration?

#4898 Facility requests: various bugfixes
  skyportal/facility_apis/winter.py
  skyportal/facility_apis/ztf.py
Labels: needs-migration?

#4897 Allocation observation plan table
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/allocation.py
  static/js/components/AllocationSummary.jsx
  static/js/components/ObservationPlanGlobe.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/ObservationPlanSummaryStatistics.jsx
  static/js/ducks/observationPlans.js
Labels: needs-migration?

#4901 Observing run API GET: dtype bugfix
  skyportal/handlers/api/observingrun.py
Labels: needs-migration?

#4899 Source name validation: accept periods
  skyportal/handlers/api/source.py
Labels: needs-migration?

#4902 gwemopt 0.2.1
  data/db_demo.yaml
  requirements.txt
  skyportal/facility_apis/observation_plan.py
Labels: dependencies, needs-migration?, demo-data

#4903 TNS submission job validation: remove continue statement
  services/tns_submission_queue/tns_submission_queue.py
Labels: needs-migration?

#4904 SBO -- Ic/Rc
  skyportal/facility_apis/trt.py
Labels: needs-migration?
