Repository skyportal/skyportal, pull requests merged in 2024-05, with the labels that each got.

#4924 Observation plans status=complete frontend refresh
  services/observation_plan_queue/observation_plan_queue.py
Labels: needs-migration?

#4925 Observation plan request send/delete: various bugfixes
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#4927 LogHandler: GET
  skyportal/app_server.py
  skyportal/facility_apis/winter.py
  skyportal/handlers/api/internal/log.py
  skyportal/utils/files.py
Labels: needs-migration?

#4926 gwemopt 0.2.2
  requirements.txt
  services/reminders/reminders.py
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/reminder.py
  skyportal/tests/flaky/test_analysis_flaky.py
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/flaky/test_gcn_flaky.py
  skyportal/tests/flaky/test_gcnevents_flaky.py
  skyportal/tests/flaky/test_observation_plan.py
  skyportal/tests/flaky/test_upload_galaxies_flaky.py
Labels: dependencies, needs-migration?

#4880 GCN notes table
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  static/js/components/GCNNotesTable.jsx
  static/js/components/Source.jsx
  static/js/ducks/source.js
Labels: needs-migration?

#4928 unflake the tests
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/api/test_thumbnail.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/flaky/test_thumbnail_flaky.py
  skyportal/tests/flaky/test_upload_observations_flaky.py
  skyportal/tests/frontend/test_analysis.py
  skyportal/tests/frontend/test_analysis_services.py
  skyportal/tests/frontend/test_upload_galaxies.py
  static/js/components/MultipleClassificationsForm.jsx
Labels: needs-migration?

#4931 Period plot: units
  static/js/components/PhotometryPlot.jsx
Labels: needs-migration?

#4933 WIP - SourceHandler POST: save sources as another user (admin-only)
  skyportal/facility_apis/swift.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
Labels: needs-migration?

#4869 Photometry Plot: Forced photometry toggle #4832
  static/js/components/PhotometryPlot.jsx
Labels: needs-migration?

#4935 Galaxy Queries: various improvements
  alembic/versions/7b0d2b1b6561_galaxy_indexes.py
  doc/image_analysis.md
  doc/index.rst
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/galaxy.py
  skyportal/utils/observation_plan.py
  static/js/actions.js
  static/js/components/GcnSelectionForm.jsx
  static/js/components/LocalizationPlot.jsx
  static/js/components/ObservationPlanGlobe.jsx
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/ObservationPlanSummaryStatistics.jsx
  static/js/ducks/galaxies.js
  static/js/ducks/hydration.js
Labels: documentation, migration, needs-migration?

#4830 Photometry Plot: show nearby sources (possible duplicates)
  skyportal/handlers/api/source.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  static/js/components/PhotometryPlot.jsx
  static/js/components/Source.jsx
  static/js/utils/index.js
  static/js/utils/positions.js
Labels: needs-migration?

#4937 Python requirements: penquins==2.4.1
  requirements.txt
Labels: dependencies, needs-migration?

#4942 Followup APIs: priorityOrder
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/swift.py
Labels: needs-migration?

#4939 WINTERAPI: dither_distance default 30 -> 90
  skyportal/facility_apis/winter.py
Labels: needs-migration?

#4943 Obsplan list: display fix
  static/js/components/ObservationPlanRequestLists.jsx
  static/js/components/ObservationPlanSummaryStatistics.jsx
Labels: needs-migration?

#4940 TNS reporting: bot user logic
  alembic/versions/94c30396a122_tns_auto_report_allow_bots.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/internal/profile.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/source_groups.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/handlers/api/tns.py
  skyportal/models/tns.py
  skyportal/tests/api/candidates_sources_events/test_tnsrobots.py
  static/js/components/CommentEntry.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotsPage.jsx
  static/js/components/UpdateProfileForm.jsx
Labels: migration, needs-migration?

#4944 TNSRobot bot user reporting: migration fix
  alembic/versions/94c30396a122_tns_auto_report_allow_bots.py
Labels: migration

#4946 TNS report remarks: fix key name in payload
  services/tns_submission_queue/tns_submission_queue.py
Labels: needs-migration?

#4945 latest gwemopt
  data/db_demo.yaml
  requirements.txt
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/models/tns.py
  skyportal/utils/observation_plan.py
Labels: dependencies, needs-migration?, demo-data

#4947 Bot users: visibility across the frontend
  skyportal/handlers/api/user.py
  skyportal/models/annotation.py
  skyportal/models/comment.py
  skyportal/models/user_token.py
  static/js/components/CommentListMobile.jsx
  static/js/components/CompactCommentList.jsx
  static/js/components/NewsFeed.jsx
  static/js/components/RegularCommentList.jsx
  static/js/components/TNSRobotSubmissionsPage.jsx
  static/js/components/TNSRobotsPage.jsx
  static/js/components/TopSavers.jsx
  static/js/components/UserAvatar.jsx
  static/js/components/UserProfileInfo.jsx
Labels: needs-migration?

#4949 Add rust & cargo to Dockerfile for mocpy
  Dockerfile
Labels: needs-migration?, docker

#4951 Centroid Plot V2 (with plotly)
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  static/js/components/CentroidPlot.jsx
  static/js/components/CentroidPlotPlugins.jsx
  static/js/components/PhotometryPlot.jsx
  static/js/components/Source.jsx
  static/js/components/TNSRobotSubmissionsPage.jsx
  static/js/components/TopSavers.jsx
  static/js/components/UserAvatar.jsx
Labels: needs-migration?
