Repository skyportal/skyportal, pull requests merged in 2024-01, with the labels that each got.

#4708 Magnitude and error columns in downloaded light curve
  static/js/plotjs/download.js
Labels: needs-migration?

#4707 Quick save source to only save updated groups
  static/js/components/QuickSaveSource.jsx
Labels: needs-migration?

#4709 Photometry deduplication
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  static/js/ducks/photometry.js
Labels: needs-migration?

#4686 PS1 Thumbnails: https -> http
  skyportal/models/obj.py
  skyportal/utils/offset.py
Labels: needs-migration?

#4682 Alert-based forced photometry - photstats
  skyportal/models/phot_stat.py
Labels: needs-migration?

#4711 QR token embedding
  static/js/components/SharePage.jsx
  static/js/components/TokenList.jsx
Labels: needs-migration?

#4687 scanner board
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/internal/__init__.py
  skyportal/handlers/api/internal/profile.py
  skyportal/handlers/api/internal/source_savers.py
  skyportal/tests/api/candidates_sources_events/test_candidates.py
  skyportal/tests/frontend/test_new_source.py
  static/js/actions.js
  static/js/components/HomePage.jsx.template
  static/js/components/NewSource.jsx
  static/js/components/SidebarAndHeader.jsx.template
  static/js/components/SourceTable.jsx
  static/js/components/TopSavers.jsx
  static/js/components/WidgetPrefsDialog.jsx
  static/js/ducks/topSavers.js
Labels: config-change, needs-migration?

#4714 Photometry handler bugfix: avoid deduplication error if there is no photometry
  skyportal/handlers/api/photometry.py
Labels: needs-migration?

#4715 Query options for savers and times
  skyportal/handlers/api/internal/source_savers.py
Labels: needs-migration?

#4716 Frontend V2: Navbar and Appbar
  config.yaml.defaults
  skyportal/tests/api/candidates_sources_events/test_phot_stats.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  skyportal/tests/frontend/test_data_management.py
  skyportal/tests/frontend/test_frontpage.py
  skyportal/tests/frontend/test_new_source.py
  skyportal/tests/frontend/test_newsfeed.py
  skyportal/tests/frontend/test_quick_search.py
  static/js/components/AnnotationsTable.jsx
  static/js/components/EarthquakePage.jsx
  static/js/components/EarthquakesPage.jsx
  static/js/components/GcnEventPage.jsx
  static/js/components/HeaderContent.jsx.template
  static/js/components/InstrumentPage.jsx
  static/js/components/Logo.jsx
  static/js/components/MMADetectorPage.jsx
  static/js/components/Main.jsx.template
  static/js/components/NewsFeed.jsx
  static/js/components/Notifications.jsx
  static/js/components/ProfileDropdown.jsx
  static/js/components/QuickSearchBar.jsx
  static/js/components/SidebarAndHeader.jsx.template
  static/js/components/Source.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceList.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/TelescopePage.jsx
  static/js/components/UninitializedDBMessage.jsx
  static/js/components/UserManagement.jsx
  static/js/ducks/sidebar.js
Labels: config-change, needs-migration?

#4476 Bokeh -> Plotly.js: frontend-side plotting
  .github/dependabot.yml
  config.yaml.defaults
  data/tests/test_server_recordings_static.yaml
  doc/papers/joss/paper.md
  package.json
  requirements.txt
  skyportal/app_server.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/ps1.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/instrument_log.py
  skyportal/handlers/api/internal/__init__.py
  skyportal/handlers/api/internal/plot.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/spectrum.py
  skyportal/handlers/api/summary_query.py
  skyportal/plot.py
  skyportal/tests/api/test_spectrum.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  skyportal/tests/frontend/test_bokeh_plots_frontend.py
  skyportal/tests/frontend/test_favorites_page.py
  skyportal/tests/frontend/test_plotly_plots_frontend.py
  skyportal/tests/frontend/test_upload_spectroscopy.py
  static/js/components/AddUsersFromGroupForm.jsx
  static/js/components/InstrumentLogsPlot.jsx
  static/js/components/InstrumentSummary.jsx
  static/js/components/InviteNewGroupUserForm.jsx
  static/js/components/LocalizationPlot.jsx
  static/js/components/NewGroupUserForm.jsx
  static/js/components/NewPhotometry.jsx
  static/js/components/PhotometryDownload.jsx
  static/js/components/PhotometryPlot.jsx
  static/js/components/PhotometryTable.jsx
  static/js/components/Plot.jsx
  static/js/components/ShareDataForm.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceGCNCrossmatchList.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SpectraPlot.jsx
  static/js/components/SpectroscopyButtonsForm.jsx
  static/js/components/SpectroscopyColorSelect.jsx
  static/js/components/Theme.jsx
  static/js/ducks/instrument.js
  static/js/ducks/photometry.js
  static/js/ducks/source.js
  static/js/ducks/spectra.js
  static/js/plotjs/download.js
  static/js/plotjs/foldphase.js
  static/js/plotjs/post_annotation.js
  static/js/plotjs/smooth_spectra.js
  static/js/plotjs/stackf.js
  static/js/plotjs/stackm.js
  static/js/plotjs/update_data_point_size.js
  static/js/utils/calculations.js
  static/js/utils/constants.js
  static/js/utils/index.js
  static/js/utils/positions.js
  webpack.config.js
Labels: documentation, dependencies, config-change, needs-migration?, demo-data, workflows

#4721 fix dependabot config (schedule.time format)
  .github/dependabot.yml
Labels: needs-migration?

#4737 Source Page V1.5
  skyportal/handlers/api/config_handler.py
  skyportal/tests/external/test_followup_requests_flaky.py
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_assignments.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_top_sources.py
  skyportal/tests/frontend/test_newsfeed.py
  skyportal/tests/frontend/test_notifications.py
  skyportal/tests/frontend/test_quick_search.py
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/AboutPlugins.jsx
  static/js/components/AnnotationsTable.jsx
  static/js/components/AssignmentForm.jsx
  static/js/components/AssignmentList.jsx
  static/js/components/ClassificationList.jsx
  static/js/components/CommentListMobile.jsx
  static/js/components/CopyPhotometryDialog.jsx
  static/js/components/EarthquakePage.jsx
  static/js/components/EarthquakesPage.jsx
  static/js/components/EditSourceGroups.jsx
  static/js/components/FavoritesButton.jsx
  static/js/components/GcnSelectionForm.jsx
  static/js/components/GcnTags.jsx
  static/js/components/HeaderContent.jsx.template
  static/js/components/MMADetectorPage.jsx
  static/js/components/Main.jsx.template
  static/js/components/NewsFeed.jsx
  static/js/components/PhotometryPlot.jsx
  static/js/components/RecentGcnEvents.jsx
  static/js/components/RecentSources.jsx
  static/js/components/RunSummary.jsx
  static/js/components/ShareDataForm.jsx
  static/js/components/ShowClassification.jsx
  static/js/components/ShowSummaries.jsx
  static/js/components/ShowSummaryHistory.jsx
  static/js/components/SidebarAndHeader.jsx.template
  static/js/components/SimilarSources.jsx
  static/js/components/Source.jsx
  static/js/components/SourceCounts.jsx
  static/js/components/SourceDesktop.jsx
  static/js/components/SourceGCNCrossmatchList.jsx
  static/js/components/SourceMobile.jsx
  static/js/components/SourceSaveHistory.jsx
  static/js/components/SourceTable.jsx
  static/js/components/SpectraPlot.jsx
  static/js/components/StarList.jsx
  static/js/components/StartBotSummary.jsx
  static/js/components/TelescopePage.jsx
  static/js/components/ThumbnailList.jsx
  static/js/components/TopSavers.jsx
  static/js/components/TopSources.jsx
  static/js/components/UpdateSourceSummary.jsx
  static/js/components/UpdateSourceTNS.jsx
Labels: needs-migration?

#4741 update alumni
  static/js/components/About.jsx
Labels: needs-migration?

#4742 sinceDaysAgo float
  skyportal/handlers/api/internal/source_savers.py
  skyportal/handlers/api/internal/source_views.py
  static/js/components/TopSavers.jsx
Labels: needs-migration?

#4744 WINTER Follow-up requests
  alembic/versions/c44be702d604_winter.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/sedm.py
  skyportal/facility_apis/winter.py
  static/js/components/FollowupRequestLists.jsx
Labels: migration, config-change, demo-data

#4743 Source page V1.5 + plotly, minor improvements
  static/js/components/AnalysisList.jsx
  static/js/components/CentroidPlot.jsx
  static/js/components/PhotometryPlot.jsx
  static/js/components/Source.jsx
  static/js/components/SpectraPlot.jsx
  static/js/utils/constants.js
Labels: needs-migration?

#4745 Winter followup bugfix - max airmass + store defaults
  skyportal/facility_apis/winter.py
Labels: needs-migration?
