Repository skyportal/skyportal, pull requests merged in 2024-07, with the labels that each got.

#5096 ESLINT config update, CommentHandler PUT bugfix, DefaultObservationPlanTable.jsx bugfix, py3-validate-email -> email_validator
  .eslintignore
  .eslintrc.yaml
  .pre-commit-config.yaml
  eslint.config.js
  package.json
  requirements.txt
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/internal/profile.py
  skyportal/handlers/api/user.py
  static/js/components/observation_plan/DefaultObservationPlanTable.jsx
Labels: dependencies, needs-migration?, formatting-and-linting

#5098 None url in atlas
  services/facility_queue/facility_queue.py
Labels: needs-migration?

#5097 ObservationPage, InstrumentPage, AnalysisServicePage: V2
  .pre-commit-config.yaml
  eslint.config.js
  package.json
  skyportal/tests/frontend/test_analysis_services.py
  static/js/components/allocation/AllocationSummary.jsx
  static/js/components/allocation/AllocationTable.jsx
  static/js/components/allocation/ModifyAllocation.jsx
  static/js/components/allocation/NewAllocation.jsx
  static/js/components/analysis/AnalysisServicePage.jsx
  static/js/components/analysis/NewAnalysisService.jsx
  static/js/components/instrument/InstrumentPage.jsx
  static/js/components/instrument/InstrumentTable.jsx
  static/js/components/instrument/ModifyInstrument.jsx
  static/js/components/instrument/NewInstrument.jsx
  static/js/components/observation/ExecutedObservationsTable.jsx
  static/js/components/observation/NewAPIObservation.jsx
  static/js/components/observation/NewAPIQueuedObservation.jsx
  static/js/components/observation/NewObservation.jsx
  static/js/components/observation/ObservationPage.jsx
  static/js/components/observation/QueueAPIDisplay.jsx
  static/js/components/observation/QueuedObservationsTable.jsx
  static/js/components/observation/SkymapTriggerAPIDisplay.jsx
  static/js/components/summary/SummarySearch.jsx
  static/js/components/taxonomy/ModifyTaxonomy.jsx
  static/js/components/taxonomy/NewTaxonomy.jsx
  static/js/components/taxonomy/TaxonomyPage.jsx
  static/js/components/taxonomy/TaxonomyTable.jsx
Labels: dependencies, needs-migration?, formatting-and-linting

#5100 check for observation_plans when making GCN
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#5104 pending observations also show get button
  static/js/components/followup_request/FollowupRequestLists.jsx
Labels: needs-migration?

#5108 filter expired accounts
  skyportal/handlers/api/user.py
  static/js/components/user/UserManagement.jsx
Labels: needs-migration?

#5111 Obsplan List: tiles transparency
  static/js/components/localization/LocalizationPlot.jsx
  static/js/components/observation_plan/ObservationPlanRequestForm.jsx
Labels: needs-migration?

#5112 Auto ep 2
  services/gcn_service/gcn_service.py
  skyportal/handlers/api/annotation_services.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/gcn.py
  skyportal/models/followup_request.py
  static/js/components/followup_request/DefaultFollowupRequestList.jsx
  static/js/components/followup_request/FollowupRequestPage.jsx
Labels: needs-migration?

#5109 Candidate & Source HEAD: raw sql for speed
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/source.py
Labels: needs-migration?

#5114 transactions for follow-up requests
  skyportal/handlers/api/source.py
  static/js/components/followup_request/FollowupRequestLists.jsx
Labels: needs-migration?

#5115 User Profile: show oauth email
  static/js/components/user/UserProfileInfo.jsx
Labels: needs-migration?

#5117 Photometry table download fix
  static/js/components/photometry/PhotometryTable.jsx
Labels: needs-migration?

#5116 AssignmentList (on SourcePage): edit
  skyportal/tests/frontend/sources_and_observingruns_etc/test_assignments.py
  static/js/components/observing_run/AssignmentForm.jsx
  static/js/components/observing_run/AssignmentList.jsx
  static/js/components/observing_run/ModifyAssignment.jsx
Labels: needs-migration?

#5113 Default observation plan filters: gcn & localization properties
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  static/js/components/localization/LocalizationPlot.jsx
  static/js/components/observation_plan/DefaultObservationPlanTable.jsx
  static/js/components/observation_plan/NewDefaultObservationPlan.jsx
Labels: needs-migration?

#5140 add parseFloat to period annotation
  static/js/components/plot/PhotometryPlot.jsx
Labels: needs-migration?

#5142 front-end fixes
  static/js/components/allocation/NewAllocation.jsx
  static/js/components/instrument/NewInstrument.jsx
Labels: needs-migration?

#5143 data-uri-to-buffer 6.0.2
  package.json
  skyportal/tests/frontend/test_data_management.py
  skyportal/tests/frontend/test_upload_spectroscopy.py
  static/js/components/galaxy/NewGalaxy.jsx
  static/js/components/gcn/NewGcnEvent.jsx
  static/js/components/instrument/ModifyInstrument.jsx
  static/js/components/instrument/NewInstrument.jsx
  static/js/components/observation/NewObservation.jsx
  static/js/components/spatial_catalog/NewSpatialCatalog.jsx
  static/js/components/spectrum/UploadSpectrum.jsx
  static/js/components/taxonomy/NewTaxonomy.jsx
Labels: dependencies, needs-migration?

#5144 observer is None when calculating airmass
  skyportal/handlers/api/instrument.py
Labels: needs-migration?

#5148 Set sentry sample rate to 0.25
  config.yaml.defaults
Labels: config-change, needs-migration?

#5149 Upload Single Photometry: simpler instrument select
  static/js/components/photometry/NewPhotometry.jsx
Labels: needs-migration?

#5150 TAROT form
  alembic/versions/94f87495c701_tarot.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/tarot.py
  static/js/components/gcn/NewGcnEvent.jsx
Labels: migration, config-change, demo-data

#5153 tarot defaults option
  skyportal/facility_apis/tarot.py
Labels: needs-migration?

#5155 enumerate UVOT modes
  skyportal/facility_apis/swift.py
Labels: needs-migration?

#5152 observing run improvements
  alembic/versions/e54b1c00dabf_observation_run_duration.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/observingrun.py
  skyportal/models/observing_run.py
  skyportal/models/schema.py
  skyportal/utils/offset.py
  static/js/components/FindingChart.jsx
  static/js/components/observing_run/ModifyObservingRun.jsx
  static/js/components/observing_run/NewObservingRun.jsx
  static/js/components/observing_run/ObservingRunPage.jsx
  static/js/components/observing_run/RunSummary.jsx
  static/js/ducks/observingRun.js
Labels: migration, needs-migration?

#5158 ZTF Executed Observations: fallback
  skyportal/facility_apis/ztf.py
Labels: needs-migration?
