Repository skyportal/skyportal, pull requests merged in 2024-08, with the labels that each got.

#5163 Corrections from security audit
  skyportal/handlers/api/taxonomy.py
  skyportal/models/spectrum.py
  skyportal/tests/api/test_spectrum.py
  skyportal/tests/utils/test_spectrum_ascii_reader.py
  tools/data_loader.py
  tools/prepare_seed_data.py
Labels: needs-migration?

#5159 LT front-end fixes
  skyportal/facility_apis/lt.py
Labels: needs-migration?

#5187 soar / lco delete when no obs id
  skyportal/facility_apis/lco.py
  skyportal/facility_apis/soar.py
Labels: needs-migration?

#5162 Notes design improvement
  static/js/components/Notes.jsx
  static/js/components/templates/HeaderContent.jsx.template
Labels: needs-migration?

#5156 Correct thumbnails duplication
  skyportal/handlers/api/source.py
  skyportal/models/public_pages/public_source_page.py
Labels: needs-migration?

#5161 Public page: Fix some behavior api public source page
  skyportal/handlers/api/public_pages/public_source_page.py
  static/js/components/source/source_publish/SourcePublishHistory.jsx
  static/js/ducks/public_pages/public_source_page.js
Labels: needs-migration?

#5190 GitHub Action - Docker build: migrate to docker compose v2
  .github/workflows/test_docker_build.yaml
  skyportal/handlers/api/source_groups.py
Labels: needs-migration?

#5160 Public page: Public source pages tests
  skyportal/models/public_pages/public_source_page.py
  skyportal/tests/api/candidates_sources_events/test_public_source_pages.py
  static/js/ducks/public_pages/public_source_page.js
Labels: needs-migration?

#5189 Add filter to notes
  static/js/components/Notes.jsx
Labels: needs-migration?

#5191 Docker-compose update: new container naming schema
  .github/workflows/test_docker_build.yaml
  doc/deploy.md
Labels: documentation, needs-migration?

#5105 gcnevent advocate
  alembic/versions/b0f0b2a30357_event_advocate.py
  services/gcn_service/gcn_service.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/shift.py
  skyportal/models/followup_request.py
  skyportal/models/gcn.py
  skyportal/models/user_token.py
  skyportal/tests/api/candidates_sources_events/test_observation.py
  static/js/components/gcn/GcnAdvocates.jsx
  static/js/components/gcn/GcnEventPage.jsx
  static/js/ducks/gcnEvents.js
Labels: migration, needs-migration?

#5188 WIP - FacilityApis: formSchemaAltdata + use it in NewAllocation.jsx
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/atlas.py
  skyportal/facility_apis/generic.py
  skyportal/facility_apis/growth_india.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/kait.py
  skyportal/facility_apis/lco.py
  skyportal/facility_apis/lt.py
  skyportal/facility_apis/nicer.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/sedmv2.py
  skyportal/facility_apis/slack.py
  skyportal/facility_apis/soar.py
  skyportal/facility_apis/swift.py
  skyportal/facility_apis/tarot.py
  skyportal/facility_apis/trt.py
  skyportal/facility_apis/winter.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/allocation.py
  static/js/components/allocation/NewAllocation.jsx
Labels: needs-migration?

#5192 GCN event ingestion: extra logging
  services/notification_queue/notification_queue.py
  skyportal/handlers/api/gcn.py
  skyportal/utils/notifications.py
Labels: needs-migration?

#5194 offset stars with the first letter of the telescope
  skyportal/facility_apis/soar.py
  skyportal/facility_apis/tarot.py
  skyportal/utils/offset.py
Labels: needs-migration?

#5196 Follow-up request: SWIFT ToO mode
  skyportal/facility_apis/swift.py
  static/js/components/followup_request/FollowupRequestLists.jsx
Labels: needs-migration?

#5197 Correct test_show_starlist
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
Labels: needs-migration?

#5199 GCN - Point source auto-generation: larger radius threshold
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
Labels: needs-migration?

#5200 ZTF Treasuremap filters
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#5202 Finder chart cache
  assets/a3d3.png
  assets/moore.png
  assets/nsf.png
  skyportal/utils/offset.py
Labels: needs-migration?

#5204 GCN handler should return errors
  assets/moore.png
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5205 check for group with existing name
  skyportal/facility_apis/lt.py
  skyportal/facility_apis/soar.py
  skyportal/handlers/api/group.py
  static/js/components/followup_request/FollowupRequestForm.jsx
Labels: needs-migration?

#5206 Obj Redshift - use existing z origin
  skyportal/handlers/api/candidate.py
  static/js/components/source/SourceRedshiftHistory.jsx
  static/js/components/source/UpdateSourceRedshift.jsx
Labels: needs-migration?

#5207 check group_ids when making a source
  skyportal/handlers/api/source.py
Labels: needs-migration?

#5203 Public page: Add optional title to release panel and tootips
  static/js/components/source/source_publish/SourcePublish.jsx
Labels: needs-migration?

#5209 date-time in form
  skyportal/facility_apis/lt.py
  skyportal/facility_apis/soar.py
  static/js/components/followup_request/FollowupRequestForm.jsx
Labels: needs-migration?

#5208 Followup constraint: ignore_allocation_ids
  skyportal/handlers/api/followup_request.py
  skyportal/models/schema.py
Labels: needs-migration?

#5211 do not split date if want full date
  static/js/components/followup_request/FollowupRequestForm.jsx
Labels: needs-migration?

#5213 Followup constraint schema: fix
  skyportal/models/schema.py
Labels: needs-migration?

#5214 colibri
  alembic/versions/fcc48485cb52_colibri.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/colibri.py
  skyportal/facility_apis/lt.py
Labels: migration, config-change, demo-data

#5215 PS1 thumbnails ReadTimeout
  skyportal/utils/offset.py
Labels: needs-migration?

#5216 Comment Attachment Preview: simpler UI
  static/js/components/comment/CommentAttachmentPreview.jsx
Labels: needs-migration?

#5218 get_sources: phot series session.execute fix
  skyportal/handlers/api/sources.py
Labels: needs-migration?

#5220 SDSS thumbnails: dr12 -> dr18
  skyportal/models/obj.py
  static/js/components/source/SurveyLinkList.jsx
  static/js/components/thumbnail/Thumbnail.jsx
Labels: needs-migration?

#5221 GCN fixtures
  skyportal/tests/api/candidates_sources_events/test_followup_requests_reprioritize.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/api/candidates_sources_events/test_observation.py
  skyportal/tests/api/test_comments_on_gcn.py
  skyportal/tests/api/test_galaxy.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/api/test_reminders.py
  skyportal/tests/api/test_shifts.py
  skyportal/tests/conftest.py
  skyportal/tests/data/localization_GRB180116A.parquet
  skyportal/tests/data/localization_GW190425.parquet
  skyportal/tests/data/localization_GW190814.parquet
  skyportal/tests/data/localizationtiles_GRB180116A.parquet
  skyportal/tests/data/localizationtiles_GW190425.parquet
  skyportal/tests/data/localizationtiles_GW190814.parquet
  skyportal/tests/fixtures.py
  skyportal/tests/frontend/test_profile.py
Labels: needs-migration?

#5219 Autogenerated GCN sources: GRB SWIFT type
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5224 log failures in follow-up submission
  skyportal/handlers/api/followup_request.py
  static/js/components/followup_request/FollowupRequestLists.jsx
Labels: needs-migration?
