Repository skyportal/skyportal, pull requests merged in 2024-06, with the labels that each got.

#4983 Python dependency: requests 2.32.2 -> 2.32.3
  requirements.txt
Labels: dependencies, needs-migration?

#4995 gwemopt 0.3.1
  requirements.txt
Labels: dependencies, needs-migration?

#5014 UnhandledSchemeError
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  webpack.config.js
Labels: needs-migration?

#5016 SWIFT ToO: urgency dtype
  skyportal/facility_apis/swift.py
Labels: needs-migration?

#5017 einstein probe
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
  skyportal/models/schema.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/data/EP240508.json
  static/js/components/SpectraPlot.jsx
Labels: config-change, needs-migration?

#5018 get_observations method: remove heavy joinedload statements
  skyportal/handlers/api/observation.py
  static/js/components/ExecutedObservationsTable.jsx
  static/js/components/QueuedObservationsTable.jsx
Labels: needs-migration?

#5019 get_sources: deprecate old version + change case sensitivity and tns_name matching
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources.py
  static/js/components/QuickSearchBar.jsx
Labels: needs-migration?

#5020 Correction public source page
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/public_pages/public_source_page.py
  skyportal/models/classification.py
  static/js/components/photometry/PhotometryPlot.jsx
  static/js/components/source/source_publish/SourcePublishOptions.jsx
  static/js/utils/photometry.js
  static/public_pages/reports/report/gcn_report_template.html
  static/public_pages/sources/source/source_template.css
  static/public_pages/sources/source/source_template.html
  static/public_pages/style.css
Labels: needs-migration?

#5021 json alerts part 2
  alembic/versions/b854bf5d22b3_json_alerts.py
  services/gcn_service/gcn_service.py
  services/notification_queue/notification_queue.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/photometric_series.py
  skyportal/models/gcn.py
  skyportal/utils/gcn.py
  skyportal/utils/notifications.py
Labels: migration, needs-migration?

#5025 Docs upgrade
  Makefile
Labels: needs-migration?

#5027 geckodriver
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_models.yaml
Labels: needs-migration?

#5030 JSON notice types in dropdown
  skyportal/enum_types.py
Labels: needs-migration?

#5029 trigger_id string
  alembic/versions/a8accdf50df8_trigger_id.py
  skyportal/models/gcn.py
  skyportal/utils/gcn.py
Labels: migration, needs-migration?

#5023 Public page: Photometry plot improvement
  static/js/utils/photometry.js
  static/public_pages/reports/report/gcn_report_template.html
  static/public_pages/sources/source/source_template.html
Labels: needs-migration?

#5028 JSON alerts for source creation
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5036 sunrise and setset
  skyportal/handlers/api/internal/plot.py
Labels: needs-migration?

#5035 Public page : Improve public page security and style
  skyportal/models/gcn.py
  skyportal/models/public_pages/public_source_page.py
  static/public_pages/sources/source/source_template.html
  static/public_pages/sources/sources_template.css
  static/public_pages/sources/sources_template.html
  static/public_pages/sources/sources_template.js
Labels: needs-migration?

#5031 Search by comment: Part 1 (Sources only)
  skyportal/handlers/api/sources.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  static/js/components/source/SourceTable.jsx
Labels: needs-migration?

#5032 Search by comment: Part 2 (Sources & GCN, via QuickSearchBar)
  skyportal/app_server.py
  skyportal/handlers/api/comment.py
  static/js/components/QuickSearchBar.jsx
Labels: needs-migration?

#5034 Instrument API classes: render_frontend_info kwargs
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/generic.py
  skyportal/facility_apis/observation_plan.py
  skyportal/facility_apis/slack.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/internal/plot.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/handlers/api/internal/source_savers.py
Labels: needs-migration?

#5039 Python Requirements: add brotli==1.1.0 (so requests can use `br` encoding)
  requirements.txt
Labels: dependencies, needs-migration?

#5037 only query necessary columns for phot stats
  skyportal/models/phot_stat.py
Labels: needs-migration?

#5038 notice type filtering
  alembic/versions/0f1f62adc91c_notice_types.py
  services/gcn_service/gcn_service.py
  services/notification_queue/notification_queue.py
  skyportal/facility_apis/ztf.py
  skyportal/handlers/api/gcn.py
  skyportal/models/gcn.py
  skyportal/utils/notifications.py
Labels: migration, needs-migration?

#5040 radius in GaiaClass.cone_search()
  skyportal/handlers/api/annotation_services.py
Labels: needs-migration?

#5041 geojson name in summary
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5042 icecube+lvk notices
  .pre-commit-config.yaml
  skyportal/handlers/api/gcn.py
  skyportal/utils/gcn.py
  static/js/components/SkymapTriggerAPIDisplay.jsx
  static/js/components/gcn/CrossmatchGcnEvents.jsx
  static/js/components/gcn/DefaultGcnTagPage.jsx
  static/js/components/gcn/DefaultGcnTagTable.jsx
  static/js/components/gcn/FindGcnEvents.jsx
  static/js/components/gcn/GcnEvents.jsx
  static/js/components/gcn/NewDefaultGcnTag.jsx
  static/js/components/gcn/NewGcnEvent.jsx
Labels: needs-migration?, formatting-and-linting

#5045 report data
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5046 MOCify report
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation.py
  skyportal/models/gcn.py
  static/js/components/ModifyInstrument.jsx
Labels: needs-migration?

#5048 GCN Tach: prepare support for EP events
  skyportal/handlers/api/gcn_tach.py
  static/js/components/gcn/NewGcnEvent.jsx
Labels: needs-migration?

#5044 Source candidates history + default comment and classification group access
  skyportal/handlers/api/classification.py
  skyportal/handlers/api/comment.py
  skyportal/handlers/api/news_feed.py
  skyportal/handlers/api/source.py
  skyportal/models/obj.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  static/js/components/classification/ClassificationForm.jsx
  static/js/components/comment/CommentEntry.jsx
  static/js/components/source/Source.jsx
  static/js/components/source/SourceCandidatesHistory.jsx
  static/js/ducks/source.js
Labels: needs-migration?

#5043 Public page : thumbnail improvement
  skyportal/handlers/api/public_pages/public_source_page.py
  static/js/components/thumbnail/Thumbnail.jsx
  static/js/components/thumbnail/ThumbnailList.jsx
Labels: needs-migration?

#5050 GCN sort by observation time
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5049 Add a GalaxyCatalog table + ObjPhotometryHandler GET speed up
  alembic/versions/9e231893b992_galaxy_catalog.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/internal/robotic_instruments.py
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/models/galaxy.py
  skyportal/models/schema.py
  skyportal/tests/api/test_galaxy.py
  static/js/components/photometry/PhotometryTable.jsx
Labels: migration, needs-migration?

#5051 prevent skymap underflow
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/photometry.py
  skyportal/utils/gcn.py
  static/js/components/gcn/GcnLocalizationsTable.jsx
  static/js/ducks/localization.js
Labels: config-change, needs-migration?

#5053 localization in the GCN report
  skyportal/handlers/api/gcn.py
Labels: needs-migration?

#5054 catch arrow parser errors in the observation endpoint
  skyportal/handlers/api/observation.py
Labels: needs-migration?

#5055 copy error and missing gcn_report
  skyportal/handlers/api/galaxy.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/photometry.py
  static/js/components/source/CopyPhotometryDialog.jsx
  static/js/components/source/Source.jsx
Labels: needs-migration?

#5057 public page : CSV table download improvement
  skyportal/handlers/api/public_pages/public_source_page.py
  skyportal/models/photometry.py
  static/public_pages/reports/report/gcn_report_template.html
  static/public_pages/sources/source/source_template.css
  static/public_pages/sources/source/source_template.html
  static/public_pages/style.css
  static/public_pages/utils/csv.js
  static/public_pages/utils/photometry.js
Labels: needs-migration?

#5061 Allocations which implement relevant APIs
  skyportal/handlers/api/allocation.py
  static/js/components/NewAPIObservation.jsx
  static/js/components/NewAPIQueuedObservation.jsx
  static/js/components/QueueAPIDisplay.jsx
  static/js/components/SkymapTriggerAPIDisplay.jsx
Labels: needs-migration?

#5062 Websocket action: photometry refresh action name
  skyportal/handlers/api/photometric_series.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/photometry_validation.py
  skyportal/handlers/api/sharing.py
  static/js/ducks/photometry.js
Labels: needs-migration?

#5058 Do not require specific permission to make an observation plan
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#5063 SBO filter options
  skyportal/facility_apis/trt.py
Labels: needs-migration?

#5064 gwemopt 0.3.4
  requirements.txt
  skyportal/utils/observation_plan.py
Labels: dependencies, needs-migration?

#5059 Comment Attachments: Preview Improvements
  package.json
  skyportal/handlers/api/comment.py
  skyportal/utils/fits_display.py
  static/js/components/comment/CommentAttachmentPreview.jsx
  static/js/components/templates/SidebarAndHeader.jsx.template
  static/js/ducks/earthquake.js
  static/js/ducks/gcnEvent.js
  static/js/ducks/shift.js
  static/js/ducks/source.js
Labels: dependencies, needs-migration?

#5065 strip out start of notice_type
  services/gcn_service/gcn_service.py
Labels: needs-migration?

#5069 retrieve TRT images
  skyportal/facility_apis/trt.py
Labels: needs-migration?

#4950 enable gwemopt parallel
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/utils/observation_plan.py
  test_config.yaml
Labels: config-change, needs-migration?, demo-data

#5067 check for existing invite username
  skyportal/onboarding.py
Labels: needs-migration?

#5068 Public Page : Add summary
  skyportal/handlers/api/public_pages/public_source_page.py
  static/js/components/source/Source.jsx
  static/js/components/source/source_publish/SourcePublish.jsx
  static/js/components/source/source_publish/SourcePublishOptions.jsx
  static/js/components/summary/ShowSummaries.jsx
  static/public_pages/sources/source/source_template.html
Labels: needs-migration?

#5071 error bar to photometry period plot
  static/js/components/plot/PhotometryPlot.jsx
Labels: needs-migration?

#5072 GCN: markdown summaries + primary/secondary display for ZTF obs planning
  package.json
  skyportal/handlers/api/gcn.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  static/js/components/candidate/SaveCandidateButton.jsx
  static/js/components/gcn/GcnSummary.jsx
  static/js/components/gcn/GcnSummaryTable.jsx
  static/js/components/localization/LocalizationPlot.jsx
  static/js/components/observation_plan/ObservationPlanRequestForm.jsx
  static/js/ducks/gcnEvent.js
Labels: dependencies, needs-migration?

#5073 GCN Summary bugfix: NaN/None -> empty str
  skyportal/handlers/api/gcn.py
  static/js/components/gcn/GcnSummaryTable.jsx
Labels: needs-migration?
