Repository skyportal/skyportal, pull requests merged in 2024-03, with the labels that each got.

#4793 Code of Conduct
  CODE-OF-CONDUCT.md
Labels: needs-migration?

#4763 Candidates Page V2
  skyportal/handlers/api/annotation_services.py
  skyportal/handlers/api/config_handler.py
  skyportal/handlers/api/photometry.py
  skyportal/handlers/api/source.py
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/AddClassificationsScanningPage.jsx
  static/js/components/CandidateList.jsx
  static/js/components/CandidatesPreferences.jsx
  static/js/components/DisplayPhotStats.jsx
  static/js/components/FilterCandidateList.jsx
  static/js/components/ScanningPageCandidateAnnotations.jsx
  static/js/components/VegaPhotometry.jsx
  static/js/components/VegaPlot.jsx
  static/js/ducks/candidates.js
Labels: needs-migration?

#4770 PUT photometry deduplication: optionally ignore flux in logic + optional update
  skyportal/facility_apis/generic.py
  skyportal/handlers/api/photometry.py
  skyportal/tests/api/candidates_sources_events/test_photometry.py
Labels: needs-migration?

#4794 Candidates Filter Form V2 Bugfix: program selection
  static/js/components/FilterCandidateList.jsx
Labels: needs-migration?

#4796 Candidates Scanning: Bring back pagination
  skyportal/handlers/api/source.py
  static/js/actions.js
  static/js/components/CandidateList.jsx
  static/js/components/ObservationPlanRequestForm.jsx
  static/js/ducks/observationPlans.js
Labels: needs-migration?

#4797 GCN Observation plans: missing changes to existing plan name handler
  services/thumbnail_queue/thumbnail_queue.py
  skyportal/handlers/api/observation_plan.py
Labels: needs-migration?

#4798 Candidates List: better grid proprotions
  static/js/components/CandidateList.jsx
  static/js/components/VegaPlot.jsx
Labels: needs-migration?

#4799 FilterCandidateList: reset button and better css
  skyportal/tests/frontend/test_scanning_page.py
  static/js/components/FilterCandidateList.jsx
Labels: needs-migration?

#4801 Candidates Filter Form: fix redshift input, fixed program selection height
  static/js/components/FilterCandidateList.jsx
Labels: needs-migration?

#4803 Ephemeris for objects that never set
  skyportal/models/telescope.py
Labels: needs-migration?

#4804 Empty altdata in follow-up triggering
  skyportal/facility_apis/generic.py
Labels: needs-migration?

#4805 Paginate allocation requests
  skyportal/handlers/api/allocation.py
  skyportal/tests/api/test_allocations.py
  static/js/components/AllocationSummary.jsx
  static/js/components/FollowupRequestLists.jsx
  static/js/ducks/allocation.js
Labels: needs-migration?

#4806 Patch photometry ID
  static/js/ducks/photometry.js
Labels: needs-migration?

#4814 ZTF Forced Photometry: Flux weighted position
  skyportal/facility_apis/ztf.py
Labels: needs-migration?

#4807 Front-end AB and Vega
  static/js/components/CandidateList.jsx
  static/js/components/DisplayPhotStats.jsx
  static/js/components/PhotometryMagsys.jsx
  static/js/components/PhotometryTable.jsx
  static/js/components/Source.jsx
  static/js/components/UpdatePhotometry.jsx
  static/js/components/VegaPhotometry.jsx
Labels: needs-migration?

#4769 TNS V2
  alembic/versions/0322f907b589_tns_v2.py
  config.yaml.defaults
  services/thumbnail_queue/thumbnail_queue.py
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/candidate.py
  skyportal/handlers/api/photometric_series.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/source_groups.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/handlers/api/tns.py
  skyportal/handlers/api/user.py
  skyportal/initial_setup.py
  skyportal/model_util.py
  skyportal/models/group.py
  skyportal/models/instrument.py
  skyportal/models/obj.py
  skyportal/models/stream.py
  skyportal/models/tns.py
  skyportal/models/user_token.py
  skyportal/tests/api/candidates_sources_events/test_tnsrobots.py
  skyportal/tests/api/test_thumbnail.py
  skyportal/utils/gcn.py
  skyportal/utils/tns.py
  static/js/components/CommentAttachmentPreview.jsx
  static/js/components/CommentEntry.jsx
  static/js/components/EditComment.jsx
  static/js/components/Group.jsx
  static/js/components/RegularCommentList.jsx
  static/js/components/ShareDataForm.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotSubmissionsPage.jsx
  static/js/components/TNSRobots.jsx
  static/js/components/TNSRobotsPage.jsx
  static/js/components/TransferList.jsx
  static/js/components/UpdateSourceTNS.jsx
  static/js/ducks/tnsrobots.js
  static/js/utils/index.js
  static/js/utils/sets.js
Labels: migration, config-change, needs-migration?

#4833 fix dustmaps version 1.0.12 -> 1.0.13
  requirements.txt
Labels: dependencies, needs-migration?

#4836 Starlist bugfix: source_id col
  skyportal/utils/offset.py
Labels: needs-migration?

#4824 TNS Retrieval: bugfixes
  services/tns_retrieval_queue/tns_retrieval_queue.py
Labels: needs-migration?

#4825 TNS Submission: bugfixes and stricter submission rules
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/tns.py
  skyportal/tests/api/candidates_sources_events/test_tnsrobots.py
  skyportal/utils/tns.py
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotsPage.jsx
Labels: needs-migration?

#4840 TNS V2: photometry options
  alembic/versions/430a8a5f3c18_tns_photometry_options.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/tns.py
  skyportal/models/tns.py
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotSubmissionsPage.jsx
  static/js/components/TNSRobotsPage.jsx
Labels: migration, needs-migration?

#4843 TNS Robots: Including testing in unique constraint
  services/tns_retrieval_queue/tns_retrieval_queue.py
  skyportal/models/tns.py
Labels: needs-migration?

#4844 TNS interactions: various improvements
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/internal/recent_sources.py
  skyportal/handlers/api/source.py
  skyportal/tests/frontend/test_plotly_plots_frontend.py
  skyportal/utils/tns.py
  static/js/components/PhotometryTable.jsx
  static/js/components/RecentSources.jsx
  static/js/components/Source.jsx
Labels: needs-migration?

#4845 Sources widgets TNS name chip + archival auto reporting
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/internal/recent_sources.py
  skyportal/handlers/api/internal/source_views.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/tns.py
  skyportal/models/tns.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_recent_sources.py
  static/js/components/RecentSources.jsx
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotsPage.jsx
  static/js/components/TopSources.jsx
Labels: needs-migration?

#4846 plotting label
  static/js/components/PhotometryPlot.jsx
  static/js/components/Source.jsx
Labels: needs-migration?

#4841 Issue MUI table Recurring api
  skyportal/handlers/api/recurring_api.py
  skyportal/tests/api/test_recurring_api.py
  static/js/components/RecurringAPIPage.jsx
  static/js/components/TNSRobotsPage.jsx
Labels: needs-migration?

#4850 TNS submission: confirm report processing on TNS
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/source_groups.py
  skyportal/handlers/api/sources_confirmed_in_gcn.py
  skyportal/handlers/api/tns.py
  static/js/components/PhotometryTable.jsx
Labels: needs-migration?

#4849 TRT API
  alembic/versions/468435875f30_trt.py
  config.yaml.defaults
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/sedmv2.py
  skyportal/facility_apis/trt.py
Labels: migration, config-change, demo-data

#4851 Source Views Dashboard Widget: don't count token source views
  skyportal/handlers/api/internal/source_views.py
  skyportal/handlers/api/tns.py
  static/js/components/TNSATForm.jsx
  static/js/components/TNSRobotsPage.jsx
Labels: needs-migration?
