Repository skyportal/skyportal, pull requests merged in 2024-02, with the labels that each got.

#4749 Follow-up requests constraints: cancel if already classified in TNS
  skyportal/handlers/api/followup_request.py
  skyportal/models/schema.py
Labels: needs-migration?

#4752 Followup constraints: TNS name, non-case sensitive but position sensitive
  skyportal/handlers/api/followup_request.py
Labels: needs-migration?

#4755 photometry table download
  static/js/components/PhotometryTable.jsx
Labels: needs-migration?

#4753 Spectrum PI(s)
  alembic/versions/1d0d58fe42fe_spectrum_pi.py
  skyportal/handlers/api/spectrum.py
  skyportal/models/schema.py
  skyportal/models/spectrum.py
  skyportal/tests/api/test_spectrum.py
  skyportal/tests/frontend/test_individual_spectra.py
  static/js/components/ShareDataForm.jsx
  static/js/components/UploadSpectrum.jsx
Labels: migration, needs-migration?

#4756 GCN Observations Survey - Bugfixes and frontend improvements
  skyportal/handlers/api/observation.py
  skyportal/handlers/api/observation_plan.py
  static/js/components/AddSurveyEfficiencyObservationsPage.jsx
  static/js/components/CatalogQueryLists.jsx
  static/js/components/ProgressIndicators.jsx
  static/js/components/SurveyEfficiencyForm.jsx
  static/js/components/SurveyEfficiencyObservationPlanLists.jsx
  static/js/components/SurveyEfficiencyObservationsLists.jsx
  static/js/ducks/gcnEvent.js
Labels: needs-migration?

#4758 Followup - WINTERAPI: implement DELETE + add target name in POST payload
  skyportal/facility_apis/winter.py
Labels: needs-migration?

#4759 SourceHandler: search both my id and tns_name
  alembic/versions/550fbafe6a2c_obj_tns_name_index.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/sources.py
  skyportal/models/obj.py
  static/js/components/QuickSearchBar.jsx
  static/js/components/SourceTable.jsx
  static/js/components/SourceTableFilterForm.jsx
Labels: migration, needs-migration?

#4761 Follow-up requests constraints bugfix
  skyportal/handlers/api/followup_request.py
Labels: needs-migration?

#4766 Follow-up requests constraints: conesearches
  skyportal/handlers/api/followup_request.py
  skyportal/models/schema.py
  static/js/components/Source.jsx
  static/js/components/SourceGCNCrossmatchList.jsx
Labels: needs-migration?

#4767 Follow-up constraints: if statement bug fix
  skyportal/handlers/api/followup_request.py
Labels: needs-migration?

#4768 Follow-up requests constraints: not_if_duplicates as cone search
  skyportal/handlers/api/followup_request.py
Labels: needs-migration?

#4764 Update skyportal dev setup docs & library dependencies
  doc/setup.md
  requirements.txt
Labels: documentation, dependencies, needs-migration?

#4775 Swift Lost lock
  skyportal/utils/gcn.py
Labels: needs-migration?

#4774 architecture file
  ARCHITECTURE.md
Labels: needs-migration?

#4776 More flexibility in xml file ingestion
  skyportal/handlers/api/gcn.py
  skyportal/utils/gcn.py
Labels: needs-migration?

#4777 Brotli install fix
  .github/workflows/test_api_and_frontend.yaml
  Dockerfile
Labels: needs-migration?, docker

#4778 2nd CandidateHandler: return candidates and not objs
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/candidate.py
  skyportal/tests/api/candidates_sources_events/test_candidates.py
Labels: needs-migration?
