Repository skyportal/skyportal, pull requests merged in 2024-10, with the labels that each got.

#5304 get_sources caching
  config.yaml.defaults
  skyportal/api_description.md
  skyportal/handlers/api/sources.py
Labels: config-change

#5305 ESLint fix
  .pre-commit-config.yaml
  eslint.config.js
  package.json
  static/js/components/observing_run/ObservingRunPage.jsx
  static/js/components/plot/PhotometryPlot.jsx
  static/js/components/templates/Main.jsx.template
  static/js/components/templates/SidebarAndHeader.jsx.template
  static/js/components/user/UserManagement.jsx
Labels: dependencies, formatting-and-linting

#5306 pin gwemopt to 0.3.5
  requirements.txt
Labels: dependencies

#5307 tdtax: update from 0.1.4 to 0.1.7
  requirements.txt
  skyportal/handlers/api/taxonomy.py
Labels: dependencies

#5217 Moving to semantic versioning: 1.0.0 Release
  doc/deploy.md
  doc/dev.md
  doc/index.rst
  doc/versioning.md
  skyportal/__init__.py
Labels: documentation

#5301 Gemini Facility API
  alembic/versions/3eb663b5c3e0_gemini_api.py
  config.yaml.defaults
  data/db_demo.yaml
  doc/followup.md
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/gemini.py
  skyportal/facility_apis/interface.py
  skyportal/facility_apis/swift.py
  skyportal/facility_apis/trt.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/followup_request.py
  skyportal/utils/calculations.py
Labels: documentation, migration, config-change, demo-data

#5313 save GCN sources to public group
  config.yaml.defaults
  skyportal/handlers/api/gcn.py
Labels: config-change
