Repository skyportal/skyportal, pull requests merged in 2025-02, with the labels that each got.

#5432 Issues 5424, 5423 : Display T0 on private and public source page
  alembic/versions/0e29de8df22c_display_t0_on_source_page.py
  skyportal/handlers/api/public_pages/public_source_page.py
  skyportal/models/obj.py
  static/js/components/plot/PhotometryPlot.jsx
  static/js/components/source/Source.jsx
  static/js/components/source/UpdateSourceT0.jsx
  static/public_pages/sources/source/source_template.css
  static/public_pages/sources/source/source_template.html
Labels: migration

#5195 Public page: Automatically publish source when created
  alembic/versions/1593df0c0979_automatically_publish_source_when_.py
  skyportal/handlers/api/public_pages/public_release.py
  skyportal/handlers/api/public_pages/public_source_page.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/source_groups.py
  skyportal/models/public_pages/public_release.py
  skyportal/models/public_pages/public_source_page.py
  skyportal/tests/api/candidates_sources_events/test_public_release.py
  skyportal/tests/api/candidates_sources_events/test_public_source_pages.py
  static/js/components/release/ReleaseForm.jsx
  static/js/components/source/source_publish/SourcePublishRelease.jsx
Labels: migration

#5454 Trigger tarot via source page
  config.yaml.defaults
  doc/followup.md
  skyportal/facility_apis/tarot.py
  skyportal/tests/external/facility_apis/test_tarot.py
Labels: documentation, config-change

#5460 Dockerfile: add top command
  Dockerfile
Labels: docker

#5461 Dockerfile: top -> procps
  Dockerfile
Labels: docker

#5459 Improve follow up information tarot API
  config.yaml.defaults
  services/notification_queue/notification_queue.py
  skyportal/facility_apis/tarot.py
  static/js/components/allocation/AllocationSummary.jsx
  static/js/components/followup_request/FollowupRequestLists.jsx
Labels: config-change

#5468 Triggering constrain: bugfix + not trigger if assigned
  skyportal/handlers/api/followup_request.py
  skyportal/models/schema.py
Labels: needs-migration?

#5472 GCN Ingestion - SVOM support
  config.yaml.defaults
  services/gcn_service/gcn_service.py
  services/notification_queue/notification_queue.py
  services/observation_plan_queue/observation_plan_queue.py
  skyportal/enum_types.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/observation_plan.py
  skyportal/handlers/api/source.py
  skyportal/utils/gcn.py
Labels: config-change

#5465 Moving object observation planning
  config.yaml.defaults
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/moving_object.py
  skyportal/models/instrument.py
  skyportal/tests/api/candidates_sources_events/test_default_observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/api/candidates_sources_events/test_observation.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/external/test_followup_requests_flaky.py
  skyportal/tests/external/test_moving_objects.py
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/flaky/test_gcn_flaky.py
  skyportal/tests/flaky/test_upload_observations_flaky.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_scanning_page.py
  skyportal/tests/frontend/sources_and_observingruns_etc/test_sources.py
  skyportal/tests/frontend/test_groups.py
  skyportal/tests/frontend/test_shifts.py
  skyportal/tests/utils/test_calculations.py
  skyportal/tests/utils/test_moving_objects.py
  skyportal/utils/calculations.py
  skyportal/utils/gcn.py
  skyportal/utils/moving_objects.py
  test_config.yaml
Labels: config-change, needs-migration?

#5478 GCN cone-based localization: avoid zero radius
  skyportal/models/localization.py
  skyportal/utils/gcn.py
Labels: needs-migration?
