Repository skyportal/skyportal, pull requests merged in 2025-07, with the labels that each got.

#5706 Pin python-ligo-lw to 1.8.4, as ligo.skymap does not pin a version
  .github/workflows/test_migrations.yaml
  requirements.txt
Labels: dependencies

#5678 Update tarot API to call Icare
  config.yaml.defaults
  skyportal/facility_apis/tarot.py
  static/js/components/allocation/ModifyAllocation.jsx
Labels: config-change

#5682 feat: Add color column to source tags
  alembic/versions/c3ee8a0c8d51_add_colors_to_sources_tags.py
  skyportal/handlers/api/tag.py
  skyportal/models/tag.py
  skyportal/tests/api/test_tag.py
  skyportal/tests/frontend/test_tag.py
  static/js/components/ObjectTags.jsx
Labels: migration

#5707 feat: adding a tag management tab
  config.yaml.defaults
  skyportal/tests/frontend/test_tag_management.py
  static/js/components/ObjectTags.jsx
  static/js/components/TagManagement.jsx
  static/js/ducks/objectTags.js
Labels: config-change

#5735 Update Vega dependencies
  package.json
  skyportal/handlers/api/annotation_services.py
  static/js/components/plot/AirmassPlot.jsx
  static/js/components/plot/VegaFoldedPlot.jsx
  static/js/components/plot/VegaHR.jsx
  static/js/components/plot/VegaPlot.jsx
  static/js/components/plot/VegaSpectrum.jsx
  static/js/components/spectrum/UploadSpectrum.jsx
  static/js/components/templates/HoursBelowAirmassPlot.jsx.template
Labels: dependencies
