Repository skyportal/skyportal, pull requests merged in 2025-04, with the labels that each got.

#5524 GCN auto-generated sources - configurable SOURCE_RADIUS_THRESHOLD
  .github/workflows/test_migrations.yaml
  Dockerfile
  config.yaml.defaults
  skyportal/models/gcn.py
Labels: config-change, needs-migration?, docker

#5530 Add troubleshooting docs to deployment
  doc/deploy.md
Labels: documentation

#5558 Parameterize Dockerfile to allow specification of image name, uid, gid
  Dockerfile
  Makefile
  doc/deploy.md
Labels: documentation, docker

#5559 Remove multiple warnings
  services/thumbnail_queue/thumbnail_queue.py
  skyportal/enum_types.py
  skyportal/facility_apis/observation_plan.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/photometry.py
  skyportal/models/gcn.py
  skyportal/models/localization.py
  skyportal/models/shift.py
  skyportal/models/tns.py
  skyportal/models/user_token.py
Labels: needs-migration?

#5570 Create utils parse function
  doc/dev.md
  skyportal/facility_apis/gemini.py
  skyportal/handlers/api/candidate/candidate.py
  skyportal/handlers/api/candidate/candidate_filter.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/internal/ephemeris.py
  skyportal/handlers/api/source.py
  skyportal/handlers/api/tns/tns_robot.py
  skyportal/handlers/api/tns/tns_robot_group_autoreporter.py
  skyportal/tests/utils/test_parse.py
  skyportal/utils/parse.py
Labels: documentation

#5582 LocalizationTiles: additional partitions until end of 2027
  alembic/versions/5f949cc5cae9_localizationtiles_partitions_2027.py
  skyportal/handlers/api/instrument.py
  skyportal/models/localization.py
Labels: migration
