Repository skyportal/skyportal, pull requests merged in 2025-08, with the labels that each got.

#5750 GCN sources - name vs origin
  skyportal/facility_apis/tarot.py
  skyportal/handlers/api/followup_request.py
  skyportal/handlers/api/gcn.py
  skyportal/handlers/api/source.py
  skyportal/models/followup_request.py
  skyportal/tests/external/facility_apis/test_tarot.py
  skyportal/utils/calculations.py
  skyportal/utils/gcn.py
  static/js/components/followup_request/FollowupRequestLists.jsx
  static/js/components/source/SourceTable.jsx
  static/js/ducks/gcnEvent.js
Labels: needs-migration?

#5774 Docker build: rspack fix
  rspack.config.js
Labels: docker

#5739 Improve followup request allocations
  alembic/versions/d10af879495e_add_allocation_validity_range.py
  data/db_demo.yaml
  skyportal/facility_apis/atlas.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/candidate/candidate.py
  skyportal/handlers/api/candidate/candidate_filter.py
  skyportal/handlers/api/followup_request.py
  skyportal/models/allocation.py
  skyportal/tests/api/candidates_sources_events/test_default_observation_plan.py
  skyportal/tests/api/candidates_sources_events/test_followup_requests_api.py
  skyportal/tests/api/candidates_sources_events/test_followup_requests_reprioritize.py
  skyportal/tests/api/candidates_sources_events/test_gcn.py
  skyportal/tests/api/candidates_sources_events/test_sources.py
  skyportal/tests/api/test_allocations.py
  skyportal/tests/api/test_observation_plan.py
  skyportal/tests/conftest.py
  skyportal/tests/fixtures.py
  skyportal/tests/flaky/test_download_flaky.py
  skyportal/tests/flaky/test_frontend_flaky.py
  skyportal/tests/flaky/test_gcn_flaky.py
  skyportal/tests/frontend/test_allocation.py
  skyportal/tests/frontend/test_gcn.py
  skyportal/tests/frontend/test_individual_spectra.py
  static/js/components/allocation/AllocationForm.jsx
  static/js/components/allocation/AllocationTable.jsx
  static/js/components/allocation/ModifyAllocation.jsx
  static/js/components/allocation/NewAllocation.jsx
  static/js/components/followup_request/FollowupRequestForm.jsx
  static/js/components/group/GroupShareSelect.jsx
  static/js/components/instrument/InstrumentForm.jsx
  static/js/components/instrument/InstrumentTable.jsx
  static/js/ducks/allocation.js
Labels: migration, demo-data

#5775 Fix some issues
  skyportal/handlers/api/internal/plot.py
  skyportal/handlers/api/photometry.py
  skyportal/models/schema.py
  static/js/components/user/preferences/OriginSelect.jsx
  static/js/ducks/photometry.js
Labels: needs-migration?

#5783 Enhance Upload Spectrum page
  package.json
  static/js/components/Paper.jsx
  static/js/components/spectrum/UploadSpectrum.jsx
  static/js/ducks/spectra.js
Labels: dependencies

#5786 NEWFIRM
  alembic/versions/9f2a7c3e1b45_create_newfirm_instrument_api_for_followup.py
  data/db_demo.yaml
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/blanco.py
Labels: migration, demo-data
