Repository skyportal/skyportal, pull requests merged in 2025-01, with the labels that each got.

#5402 TNS API changes
  .github/workflows/build-and-deploy-docs.yaml
  .github/workflows/test_api_and_frontend.yaml
  .github/workflows/test_migrations.yaml
  .github/workflows/test_models.yaml
  services/tns_retrieval_queue/tns_retrieval_queue.py
  services/tns_submission_queue/tns_submission_queue.py
  skyportal/handlers/api/tns.py
  skyportal/utils/tns.py
Labels: bugfix

#5418 Test config fix
  skyportal/tests/__init__.py
Labels: enhancement, test, bugfix

#5420 Dockerfile - install rsync
  Dockerfile
Labels: docker

#5421 Test Migration - caching issue
  .github/workflows/test_migrations.yaml
Labels: bugfix

#5422 Queue-based services - add missing sleeps based on queue
  config.yaml.defaults
  services/recurring_apis/recurring_apis.py
  services/reminders/reminders.py
  skyportal/tests/__init__.py
  skyportal/tests/api/test_reminders.py
  skyportal/tests/frontend/test_reminders.py
  test_config.yaml
Labels: config-change
