Repository skyportal/skyportal, pull requests merged in 2025-03, with the labels that each got.

#5479 Default config: GCN JSON notices fix
  config.yaml.defaults
Labels: config-change

#5506 Moving Object Observation planning - minimal frontend
  config.yaml.defaults
  skyportal/handlers/api/moving_object.py
  skyportal/utils/moving_objects.py
  static/js/components/gcn/GcnSelectionForm.jsx
  static/js/components/moving_object/MovingObjectObsPlanPage.jsx
  static/js/ducks/moving_object.js
Labels: config-change

#5504 Improve allocation altdata management
  doc/followup.md
  skyportal/handlers/api/allocation.py
  static/js/components/allocation/ModifyAllocation.jsx
  static/js/components/allocation/NewAllocation.jsx
Labels: documentation

#5505 Create MMT instrument api for followup
  alembic/versions/7eab209f29d3_create_mmt_instrument_api_for_followup.py
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/telescopes.yaml
  doc/followup.md
  skyportal/facility_apis/__init__.py
  skyportal/facility_apis/mmt/binospec.py
  skyportal/facility_apis/mmt/mmirs.py
  skyportal/facility_apis/mmt/mmt_utils.py
  static/js/components/followup_request/FollowupRequestForm.jsx
Labels: documentation, migration, config-change, demo-data

#5501 Improve tarot api followup request
  config.yaml.defaults
  data/db_demo.yaml
  data/instruments.yaml
  data/telescopes.yaml
  skyportal/app_server.py
  skyportal/facility_apis/_base.py
  skyportal/facility_apis/tarot.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/allocation.py
  skyportal/handlers/api/followup_apis.py
  skyportal/handlers/api/observation_plan.py
  skyportal/tests/external/facility_apis/test_tarot.py
  skyportal/tests/utils/test_calculations.py
  skyportal/utils/calculations.py
  static/js/actions.js
  static/js/components/instrument/InstrumentForm.jsx
  static/js/components/instrument/InstrumentTable.jsx
  static/js/components/telescope/TelescopeSummary.jsx
  static/js/ducks/followupApis.js
  static/js/ducks/hydration.js
Labels: config-change, demo-data
