Repository skyportal/skyportal, pull requests merged in 2025-05, with the labels that each got.

#5609 Test Migration bugfix: joblib version
  .github/workflows/test_migrations.yaml
  requirements.txt
  skyportal/utils/offset.py
Labels: dependencies

#5606 LS Thumbnails: DR9 -> DR10
  doc/index.rst
  doc/thumbnails.md
  skyportal/handlers/api/public_pages/public_source_page.py
  skyportal/models/obj.py
  skyportal/utils/notifications.py
  skyportal/utils/thumbnail.py
  static/js/components/thumbnail/Thumbnail.jsx
  tools/thumbnails_update/ls_dr9_to_dr10.py
Labels: documentation, needs-migration?

#5566 feat: adding source tags #5531 (backend)
  alembic/versions/6f853af1e900_adding_objtag_models.py
  skyportal/app_server.py
  skyportal/handlers/api/__init__.py
  skyportal/handlers/api/tag.py
  skyportal/models/__init__.py
  skyportal/models/tag.py
  skyportal/tests/api/test_tag.py
Labels: migration

#5627 Colibri submission form
  config.yaml.defaults
  skyportal/facility_apis/colibri.py
  skyportal/facility_apis/sedmv2.py
  skyportal/handlers/api/followup_request.py
Labels: config-change

#5632 Bugfixes: TNS reporter string deduplication + lalsuite<7.26
  .github/workflows/test_migrations.yaml
  requirements.txt
  services/tns_submission_queue/tns_submission_queue.py
Labels: dependencies
